<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002, V02
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
HW2, HW3, HW4 and Project Setup and Configuration Tests<br>
</span>
</center></i>

# Introduction

## Removing Confusion

- Having HW2 instructions in three our four places has caused confusion. Also, there have been consistency issues because of undetected GitHub commit-push failures.


- Some cells in other notebooks were illustrative examples for how we produced the data students will use. We will cover what the cells are doing in lectures. The fact that students did not need to execute the cells was not clear.


- This notebook is the __definitive__ starting notebook for HW2 and the subsequent homework assignments.


- You have accomplished the first step in preparation. Cloning the project [S23_w4111_Project_HW](https://github.com/donald-f-ferguson/S23_w4111_Project_HW.git)


- The rest of this notebook will complete setup instructions and verification for both tracks,

## HW Rollout Approach

- HW assignments have a common core that applies to both tracks. So, we publish HW assignments in two parts.
    - Part 1 covers the common core.
    - Part 2 will have the track specific work.
    
    
- Part 2 of HW 2, HW 3 and HW 4 will require software installation and setup, and data loading. Much in the same way we published HW 0 to enable setup and testing, all we have published for __HW2 is setup and testing.__ We have not published HW 2 part 1 or part 2.


- The TAs are reviewing HW 2, part 1 and we expect to release on 2023-Feb-22. Students will have one week to complete.


- We expect to release HW2, part 2 this weekend. Students will have one week to complete.

# Load Data

- There is an improved data load file in this project in the directory ```/corrections.```

In [5]:
import os

os.listdir("corrections")

['hw2_v2.sql']

- You can directly access the [file from GitHub.](https://github.com/donald-f-ferguson/S23_w4111_Project_HW/tree/main/corrections)


- Open the file in DataGrip.


- The beginning content in the file is:

```
drop schema if exists s23_w4111_hw2_dff9;

create schema s23_w4111_hw2_dff9;

use s23_w4111_hw2_dff9;

```


- Edit the SQL and change ```dff9``` to your UNI.



- Select __all content__ in the file and execute the content.

# Test Load

- Run the following cells to test correct loading. You should get the same answers/results.


- Make sure you:
    - Set your MySQL password. 
    - Your statements use the database you created that contains your UNI in the name,

In [6]:
%load_ext sql

In [7]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [11]:
tables = %sql show tables from s23_w4111_hw2_dff9;
list(tables)

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('characters',),
 ('episodes',),
 ('name_basics_all',),
 ('name_basics_principals',),
 ('title_principals',)]

In [28]:
some_info = list()

%sql use s23_w4111_hw2_dff9;

for t in tables:
    table_name = t[0]
    row_count = %sql select count(*) as count from $table_name
    row_count = row_count[0]['count']
    some_info.append({"table_name": table_name, "row_count": row_count})

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

In [29]:
import pandas

In [30]:
row_count_df = pandas.DataFrame(some_info)
row_count_df

               table_name  row_count
0              characters        389
1                episodes         73
2         name_basics_all        348
3  name_basics_principals         52
4        title_principals        730

- If you are on the non-programming track, your setup is done (for now).


- Instead of the wizard showing you all of the data engineering examples in https://github.com/donald-f-ferguson/W4111_Data_Engineering_Project.git, you can stop now. We will cover the examples later.

# Programming Track Setup

- Clone the repository https://github.com/donald-f-ferguson/W4111_FastAPI_IMDB_Api.


- Open the downloaded project in PyCharm.


- Create a [new virtual environment.](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html)


- Open a terminal windows in PyCharm.


- Run the command ```pip install -r requirements.txt```

- Edit the file ```service_factory.py```


- Change the line ```artist_context["database"] = "s23_w4111_hw2_dff"``` to use the name of the database you created.


- Select the file ```main.py``` and execute it.


- Your should see something like.

<img src="./main-server-start.png">

- Execute the following cells.

In [31]:
import requests

In [37]:
result = requests.get("http://0.0.0.0:8001/api/artist/nm3586035")

In [38]:
result

In [39]:
result.json()

{'data': {'nconst': 'nm3586035',
  'primaryName': 'Maisie Williams',
  'birthYear': '1997',
  'deathYear': None},
 'links': [{'rel': 'primaryProfessions',
   'href': '/api/artists/nm3586035/primaryProfession'},
  {'rel': 'knownForTitles', 'href': '/api/artists/nm3586035/knownForTitles'},
  {'rel': 'self', 'href': '/api/artists/nm3586035'}]}

- Instead of the Wizard showing dark arts in a notebook, we will cover in class.


- Programming track is done.