<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1, Part 1<br>Introduction to Core Concepts, ER Modeling, Relational Algebra, SQL<br>
    
</span>
</center></i>

# Introduction and Overview

## HW Objectives

- HW 1 will have two parts. This is the first part.


- Part 1 tests and reinforces the basic elements of:
    - Database concepts.
    - Relational model and relational algebra.
    - Data modeling.
    - SQL.
    
    
- Part 2 will have a set of practical exercises that have students implement simple but realistic tasks.


- Part 1 applies to both programming and non-programming tracks.

## Submission Instructions

Complete all the tests in this notebook and submit only this notebook as a PDF to GradeScope. To convert the jupyter notebook into a pdf you can use either of the following methods:

- File --> Print Preview --> Print --> Save to PDF 

- File --> Download As HTML --> Print --> Save to PDF


__Due date: February 12, 11:59 PM EDT on GradeScope__



It is recommended that you put the screenshots into the same folder as this notebook so you do not have to alter the path to include your images. 


Please read all the instructions thoroughly!

## Guidelines

You may not work with or collaborate with anyone in any way to complete the homework. You may speak with the professor and TAs. You may ask __private__ questions on Ed if you need clarification.


You may use lecture slides, the textbook slides, the textbook or public information on the web to help you answer your questions. You may not "cut and past" information. Your answer must be in your own words and demonstrate the you understand the concept. If you use information for sources other than lectures, lecture slides, textbook slides or the textbook, you MUST provide a URL to the source you used.

Read the Columbia University [academic integrity information.](https://www.cc-seas.columbia.edu/integrity). In the answer section, state that you take the pledge.

_Answer:_ I affirm that I will not plagiarize, use unauthorized materials, or give or receive illegitimate help on assignments, papers, or examinations. I will also uphold equity and honesty in the evaluation of my work and the work of others. I do so to sustain a community built around this Code of Honor.

## Add Student Information

1. Replace my name with your full name.
2. Replace my UNI with your UNI.
3. Replace "Cool Track" with either "Programming" or "Non-programming."

In [1]:
# Print your name, uni, and track below

name = "Ziggy Chen"
uni = "xc2605"
track = "Programming Track"

print(name)
print(uni)
print(track)

Ziggy Chen
xc2605
Programming Track

# Testing Environment

Run the following cells to ensure that your environment is set up.


You may need to change passwords.

In [2]:
import pymysql

In [3]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [5]:
%sql select * from db_book.student where ID=12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [8]:
def get_connection(userid, pw):
    conn = pymysql.connect(
        host="localhost",
        user=userid,
        passwd=pw,
        autocommit=True,
        cursorclass=pymysql.cursors.DictCursor
    )
    return conn

pymysql_conn = get_connection("root", "dbuserdbuser")

In [9]:
dept_name="Comp. Sci."
total_cred=50

cur = pymysql_conn.cursor()

sql = "select * from db_book.student where dept_name=%s and tot_cred >= %s"

res = cur.execute(sql, args=(dept_name, total_cred))

In [10]:
print("The number of rows in the result is", res)

The number of rows in the result is 3

In [11]:
students = cur.fetchall()
students

[{'ID': '00128',
  'name': 'Zhang',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('102')},
 {'ID': '54321',
  'name': 'Williams',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('54')},
 {'ID': '76543',
  'name': 'Brown',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('58')}]

In [12]:
import pandas

In [13]:
data_dir = "./data"

In [14]:
df = pandas.read_csv(data_dir + "/" + "departments.csv")

In [15]:
df

   COMS                             Computer Science
0  MATH                                  Mathematics
1  IEOR   Industrial Engineering/Operations Research
2  ECON                                    Economics

In [16]:
%sql create database if not exists W4111_HW1

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [17]:
df.to_sql("departments", schema="W4111_HW1", index=False, if_exists="replace", con=engine)

3

In [18]:
%sql select * from w4111_hw1.departments

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('MATH', ' Mathematics'),
 ('IEOR', ' Industrial Engineering/Operations Research'),
 ('ECON', ' Economics')]

# Written Questions

<hr style="height:2px;">

Do not [bloviate](https://en.wiktionary.org/wiki/bloviate). Students cnfuse quantity of words with quality of the answer. We will deduct points if you are not succinct.


<img src="./einstein.jpg">

<hr style="height:2px;">

__W1:__ Briefly explain 4 types of database user. Briefly explain a database administrator.

_Answer:_

*Reference:* P24-25 of the DSC book


* **a. Naive users** Typically do not have any knowledge of a database but still get access to and use the database through application interfaces

* **b. Application Programmers** Computer professional programmers who write application programs and design user interfaces.

* **c. Sophisticated Users** Unlike naive users, typically, they are analysts that use query tools (data analysis software) or DML to get access to the database and interact with it. They do NOT write the programs.

* **d. Database Administrators (DBA)** Database administrators (DBA) are also one of the four types of DB users. They have central control of both the data and the programs that access those data. 

In short, the functions of a DBA include the following:

* **Schema definition** They execute data definition statements in the DDL to create the original database schema
* **Storage structure and access-method definition** Parameters that are relevant to the physical organisation of the data and the indices to be created may be specified by them.
* **Schema and physical-organisation modification** They modify the schema and physical organisation to reflect the changing needs of the organisation OR they alter the physical organisation to improve the performance of the database.
* **Granting of authorisation for data access** They manage access levels of the database. That is, they regulate which part of the database can be accessed by various users. 
* **Routine maintenance** They should be responsible for routine maintenance such as backup management, available disk space check and performance/user monitoring.

<hr style="height:2px;">

__W2:__ Briefly explain structured data and unstructured data. Give an example of each.

_Answer:_

*Reference:* P8-9 and P473 of the DSC book, https://www.mongodb.com/unstructured-data

* **Structured Data** Structured data should have a well-defined structure. That is, individual data of the same type contains the same attribute set AND fields. So it can be easily stored AND/OR searched. Examples can be a Google Sheet or an Excel file.


* **Unstructured Data** Unstructured data does NOT show any structure. It contains data items that may have an entirely different format, and these items are stored in their original formats. Examples can be a collection of images or a collection of videos.

<hr style="height:2px;">

__W3:__  Briefly define the following terms. Give an example of each using the sample database associated with the recommended textbook.


1. Super Key<br><br>
1. Candidate Key<br><br>
1. Primary Key<br><br>
1. Foreign Key

_Answer:_

*Reference:* P43-45 of the DSC book

* **Super Key** A superkey is a set containing one or more attributes that allow us to identify a unique tuple in the relation. For example, in the instructor table (Figure 2.4), the set of ID AND name is enough to identify a unique instructor in the relation.   


* **Candidate Key** Minimal superkeys are called candidate keys. That is, no smaller subsets of a candidate key can be super key. From the previous example, we may use ID as a candidate key since this attribute is enough to identify a unique instructor, and NO smaller subset can do the same job.


* **Primary Key** A primary key is a candidate key chosen by the database designer to identify unique tuples within the relation. Again, for the same instructor table, we see that in Figure 2.8, ID is underlined, and it is the chosen primary key by the designer to identify unique instructors.


* **Foreign Key** A foreign key is a key in a table referencing the primary key in another table so that they are linked together. See Figure 2.8 for the student table, dept_name is a foreign key in the student relation referencing to the department relation.

<hr style="height:2px;">

__W4:__ Columbia University uses several applications that use databases to run the university. Examples are SSOL and CourseWorks. An alternate approach could be letting students, faculty, admimistrators, etc. use shared Google Sheets to create, retrieve, update and delete information. What are some problems with the shared sheet approach and what functions do DMBS implement to solve the problems.

_Answer:_

**Key Facts:** The Columbia data are highly valuable, are relatively large, and are accessed by multiple users and applications, often at the same time. Therefore, shared Google Sheets may lead to following problem, where a DBMS can solve the problem

* a. **Security** If all the Columbia data can be created and deleted by everyone, people may accidently delete a bunch of data which lead to irrversable data lost. 

* **DBMS solution**: A DBMS administrator can manage WHO can access WHAT data and modify access level of different users according to their needs (say, students can not modify marks of assignments). 


* b. **Data Consistency** It is not very possible to set rules about the data and ensure that they are consistent in format. Say different users may input dates in format of MM/DD/YYYY OR DD/MM/YYYY. This may lead to confusion.

* **DBMS solution**: A DBMS administrator can enforce rules about the data and ensure that data is in a desired format by pre-defined the type of the attributes and the rules.


* c. **Simultaneous Access** People can edit the Google Sheets at the same time, so they try to update the data simultaneously and this may lead to conflict in the database or network congestion.

* **DBMS solution**: A DBMS allows multi-user access and control the database to avoid conflict or congestion.

<hr style="height:2px;">

__W5:__ The relational algebra is closed under the operators. Explain what this means and give an example.

_Answer:_

This means that the result of applying any relational algebra operators to any relational data ALWAYS returns a valid relational data structure. That is, relations produce new relations under those operators. 

**Example**: 
```
σ semester='Spring'∧capacity>50
	(π course_id, sec_id, semester, year, building, room_number, capacity
		(section ⨝ classroom)
		)
```
This relational algebra statement is a nested statement, which means sub-statements do not produce any invalid relations. Therefore, the outputs of those sub-statements can be used as input for upper-level statements.

<hr style="height:2px;">

__W6:__ SQL is a _declarative_ data manipulation language. What are some pros and cons of declarative DMLs relative to procedural DMLs?

_Answer:_

*Reference:* P15 of the DSC book

**Pros:**

* a. Declarative DMLs do not require users to specify how to get those data, users only need to specify the desired data.

* b. Declarative DMLs are usually easier to learn and use compared with procedural DMLs, since users do need to know how to get the data.

**Cons:**

* a. At a cost, for Declarative DMLs, the databse system has to figure out how to get the desired data in an efficent way.

* b. Declarative DMLs may also limit users' control over the data manipulation processes. This is because it is the system but not the user to perform the execution which may not be what the user want.

<hr style="height:2px;">

__W7:__ Briefly explain the concepts of database _schema_ and _instance._ Give an example from the sample database associated with the recommended textbook.

_Answer:_

*Reference:* P41-42 of the DSC book

**Database Schema** is the logical design of the database. It defines a database's structure. An example can be the department relation of *department(dept_name, building, budget)* relation schema in the book. 

**Database Instance** is a snapshot of the real data in the database at a given instant and a specific moment. An example can be Figure 2.5 of the book, which contains seven rows. Those real data is an instance. If the university decides to give more budges to Biology, we may have a new instance at a later time.

<hr style="height:2px;">

__W8:__ What is the _semi-structured data model_ and how is it different from the relational data model?

_Answer:_

*Reference:* P394-395 of the DSC book

**Semi-structured Data Model** For semi-structured data, data items of the same type may have different attribute sets. Examples can be JSON or Extensible Markup Language (XML). 

**Difference:** 

* Semi-structured data models can have data items of the same type but containing different attribute sets, whereas relational data models do not permit the same data items to have different attribute sets. 

* Semi-structured data models have a more flexible schema, whereas relational database models have tables with a FIXED number of attributes, where each attribute contains an atomic value.

<hr style="height:2px;">

__W9:__ Some of the Columbia University databases/applications represent the year/semester attribute of a section in the form "2023_2." Where the first for characters are the academic year, and the last character is the semester (1, 2, or 3). The data type for this attribute might be ```char(6)``` or ```str.``` Explain the concepts of _domain_ and _atomic domain_ and the difference from type using this example.

_Answer:_

*Reference:* P40 of the DSC book

**Domain** defines the data types of an attribute in SQL. A domain is considered an **atomic domain** if elements of the domain are considered to be indivisible units. In the context of W9, if we consider year AND semester as an element, then it is an **atomic domain**. If we consider year and semester to be two elements separately, then it is NOT an **atomic domain**.

<hr style="height:2px;">

# Relational Algebra

<hr style="height:2px;">

__R1:__ Defining relations: The following is the SQL DDL for the ```db_book.classroom``` table.

```
create table if not exists db_book.classroom
(
    building    varchar(15) not null,
    room_number varchar(7)  not null,
    capacity    decimal(4)  null,
    primary key (building, room_number)
);
```

Using the notation/format from the lecture slides, provide the corresponding relational model/algebra definition. You do not need to worry about data types, null/not null, ... ....

_Answer:_

*Reference:* P41 of Lecture 2 slides

*classroom(<u> building </u>, <u>room_number</u>, capacity)*

<hr style="height:2px;">

__S1:__ This is a sample of the format for answering the relational algebra questions. Your answer will contain:
1. A markdown cell with the relational algebra statement.
2. A screen capture of the execution.

You will use the [RelaX calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the schema associated with the book.

Write a relational algebra statement that produces a relation with the columns:
- section.course_id
- section.sec_id
- section.semester
- section.year
- section.building
- section.room_number
- classroom.capacity

And only contains tuples from the ```Spring``` semester and a ```classroom.capacity > 50.```

_Answer:_

Algebra statement.

```
σ semester='Spring'∧capacity>50
	(π course_id, sec_id, semester, year, building, room_number, capacity
		(section ⨝ classroom)
		)
```

Screen capture:

<img src="./s1.jpg">

<hr style="height:2px;">

__R2:__ Write a relational algebra expression that returns a relation of the form:
- section.course_id
- section.sec_id
- section.semester
- section.year
- teaches.ID
- instructor.name
- course.credits

The relation contains courses that earn at least 4 credits.

_Answer:_

Relational algebra:

```
π course_id, sec_id, semester, year, ID, name, credits
    (σ credits >= 4 
        (section ⨝ teaches ⨝ instructor ⨝ course)
        )
```

Screen capture:

<img src="./R2.png">

<img src="./R2Results.png">

<hr style="height:2px;">

# Data Modeling

## ER Diagram to SQL DDL

<img src="./dm-problem-1.jpg">

- We covered the preceding ER diagram in class on Friday, 27-JAN.


- In the cells below, write and execute the ```create table``` statements to produce an SQL schema that realizes the diagram.


- The primary focus is on correctly implementing keys. You should make reasonable assumptions about column data types, ```not null```, etc.


- The next cell provides one example to help you get started.

In [19]:
%%sql

USE w4111_hw1;

DROP TABLE IF EXISTS departments;

CREATE TABLE W4111_HW1.departments
(
    department_code varchar(4)     not null,
    department_name varchar(64) not null,
    CONSTRAINT departments_pk
        PRIMARY KEY (department_code)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [20]:
%%sql

/*
    Put your create table statements below and execute.
*/

# Faculties
DROP TABLE IF EXISTS faculties;

CREATE TABLE W4111_HW1.faculties
(
    faculty_code char(2) not null, 
    description varchar(512) null, 
    CONSTRAINT faculties_pk
        PRIMARY KEY (faculty_code)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql

DROP TABLE IF EXISTS W4111_HW1.course;

CREATE TABLE if not exists W4111_HW1.course
(
    dept_code    varchar(4)   not null,
    faculty_code char(2)      not null,
    course_no    char(4)      not null,
    title        varchar(64)  null,
    description  varchar(512) null,
    PRIMARY KEY (dept_code, faculty_code, course_no),
    
    CONSTRAINT course_departments_null_fk
        FOREIGN KEY (dept_code) REFERENCES W4111_HW1.departments (department_code),
    
    CONSTRAINT course_faculty_fc
        FOREIGN KEY (faculty_code) REFERENCES faculties(faculty_code) 
    # There is a line between course and faculties
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [22]:
# %%sql

# # course
# drop table if exists course;

# create table W4111_HW1.course
# (
#     department_code char(4) not null, 
#     faculty_code char(4) not null,
#     course_no int not null,
#     title varchar(64) not null,
#     description varchar(256) not null,
    
#     constraint course_pk
#         primary key (department_code, faculty_code, course_no),
    
#     constraint course_fk_dc
#         foreign key (department_code) references departments(department_code),
    
#     constraint course_fk_fc
#         foreign key (faculty_code) references faculties(faculty_code) 
#     There is a line between course and faculties
# );

In [23]:
%%sql
DROP TABLE IF EXISTS section;

CREATE TABLE W4111_HW1.section (
    callno int not null,
    department_code varchar(4) not null,
    faculty_code char(2) not null,
    course_no char(4) not null,
    section_no int not null,
    semester varchar(16) not null, # may be Spring/Fall/Summer
    year int not null,
    
    CONSTRAINT section_pk
        PRIMARY KEY(callno),
    
    CONSTRAINT section_fk
        FOREIGN KEY(department_code, faculty_code, course_no) REFERENCES 
        course(dept_code, faculty_code, course_no)
   
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

## ER Modeling

- Consider a personal profile for a customer using an application.


- There are three entity types.
    1. ```Person``` with attributes:
        - ```customer_number``` (Uniquely identifies a Person))
        - ```email```
        - ```first_name```
        - ```last_name```
    2. ```Address``` with attributes:
        - ```address_id``` (Uniquely identifies an address)
        - ```street_and_no```
        - ```city```
        - ```state```
        - ```country```
        - ```postal_code```
    3. ```Phone``` with attributes:
        - ```phone_id```
        - ```country_code```
        - ```phone_number```
        - ```extension```
        - ```kind``` (e.g. 'Home', 'Mobile', 'Work')
    
    
- A ```Person``` has the following relationships:
    - Exactly one ```Address```. There may be addresses not associated with a ```Person```.
    - 0 or 1 relationships to another person who is the ```emergency contact.```
    - 0, 1 or many phone numbers. A ```Phone``` is associated with exactly one ```Person```.
    
    
Use [Lucidhart](https://www.lucidchart.com/pages/) to draw a logical model diagram and include a screen capture below. We used Lucidchart in lecture on Friday. You can register for a free account.

- You can replace the following diagram with your screen capture. Note the instructions for how to enable ER shapes.


- You may add explanatory notes. I did an example in lecture.

<img src="ER_diagram.png">

# SQL

- Use the ```db_book``` database/schema that you created in HW 1 for these questions.

__SQL1:__

Write and execute SQL to produce the table below. The query uses ```student``` and ```advisor``` tables.

<img src="./sql1.jpg">

In [24]:
%%sql

SELECT * # select all columns

# source: students inner join the the advisor (use ID and s_ID to join)
FROM db_book.student INNER JOIN db_book.advisor 
ON db_book.student.ID = db_book.advisor.s_ID

# only show results from Comp. Sci.
WHERE db_book.student.dept_name = 'Comp. Sci.';

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'), '12345', '10101'),
 ('00128', 'Zhang', 'Comp. Sci.', Decimal('102'), '00128', '45565'),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'), '76543', '45565')]

<hr style="height:2px;">

__SQL2:__ Produce the table below. The query uses ```student``` and contains tuples for students with less than 50 ```tot_cred```

<img src="./sql2.jpg">

In [25]:
%%sql

/*
    Put and execute your SQL below.
*/

# select only three columns
SELECT ID, name, tot_cred 

# source
FROM db_book.student 

# less than 50 credits
WHERE tot_cred < 50

 * mysql+pymysql://root:***@localhost
4 rows affected.

[('12345', 'Shankar', Decimal('32')),
 ('45678', 'Levy', Decimal('46')),
 ('55739', 'Sanchez', Decimal('38')),
 ('70557', 'Snow', Decimal('0'))]