<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Take Home Midterm<br>
    
</span>
</center></i>

# Overview

## Instructions

__Due Date: Sunday, 2023-MAR-12 at 11:59pm__


__You may not use late days.__


You have one week to complete the take home portion of the midterm. All of the work must be your own, you may not work in groups or teams. You may use outside sources so long as you cite them and provide links. 

Points will be taken off for any answers that are extremely verbose. Try to stay between 2-3 sentences for definitions and 5 sentences for longer questions. 

You may post __privately__ on Ed or attend OH for clairification questions. TAs will not be providing hints.

There is a [post on Ed](https://edstem.org/us/courses/32981/discussion/2716284) that:
- Provides submission instructions.
- Clarifications and corrections on questions.
    
__Students are responsible for reading and monitoring the post.__

## Environment Setup

- __Note:__ You will need to change the MySQL userID and password in some of the cells below to match your configuration.

### Environments

- Different applications and different scenarios use different ways to interaction with databases.


- We use three different connection/interaction models to give students experience with the various options.

### ipython-SQL

In [1]:
%load_ext sql

In [2]:
#
# Set the userid and password for connecting to your instance of SQL.
#
mysql_user = "root"
mysql_password = "dbuserdbuser"

mysql_url = f"mysql+pymysql://{mysql_user}:{mysql_password}@localhost"
    
print("Your connection URL is", mysql_url)

Your connection URL is mysql+pymysql://root:dbuserdbuser@localhost

In [18]:
#
# Connect. See the ipython-sql documentation for the $variable syntax.
#
%sql $mysql_url

### SQL Alchemy and Pandas

In [4]:
#
# Yes, I know the cool kids import as pd. I am not cool.
#
import pandas

In [5]:
#
# Pandas SQL operations require a SQL Alchemy engine.
#
from sqlalchemy import create_engine

In [19]:
sql_engine = create_engine(mysql_url)

### pymysql

In [7]:
import pymysql

In [20]:
pymysql_con = pymysql.connect(
    user= mysql_user,
    password= mysql_password,
    host= "localhost",
    port= 3306,
    autocommit= True,
    cursorclass= pymysql.cursors.DictCursor)

## Data Loading

### Classic Models

- We will use the [Classic Models](https://www.mysqltutorial.org/mysql-sample-database.aspx) sample database for many of the questions on this exam.


- The directory containing this notebook contains a file ```classic-models-sample.sql```.


- Load the data:
    - Open the file in DataGrip using ```File -> Open``` dialog.
    - Select all of the text/SQL in the file.
    - Click the green arrowhead to run the files contents.
    
    
- Running the following queries will test if the load worked.

In [10]:
%sql use classicmodels;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [11]:
%sql show tables;

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

In [12]:
%sql select count(*) as count from orders join orderdetails using(orderNumber)

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(2996,)]

### Lahman's Baseball Database

- You previously loaded information from [Lahman's Baseball Database.](https://www.seanlahman.com/)


- If you have not done so, the following code will load the data into a new schema ```lahmansdb_midterm```.

In [22]:
%sql create schema lahmansdb_midterm

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [25]:
people_df = pandas.read_csv("./People.csv")
people_df.to_sql("people", schema="lahmansdb_midterm", con=sql_engine,index=False, if_exists="replace")

20370

In [26]:
batting_df = pandas.read_csv("./Batting.csv")
batting_df.to_sql("batting", schema="lahmansdb_midterm", con=sql_engine,index=False, if_exists="replace")

110495

In [32]:
pitching_df = pandas.read_csv("./pitching.csv")
pitching_df.to_sql("pitching", schema="lahmansdb_midterm", con=sql_engine,index=False, if_exists="replace")

49430

- This will test the data loading.

In [29]:
%sql select count(*) as people_count from lahmansdb_midterm.people;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(20370,)]

In [30]:
%sql select count(*) as batting_count from lahmansdb_midterm.batting;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(110495,)]

In [33]:
%sql select count(*) as pitching_count from lahmansdb_midterm.pitching;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(49430,)]

# Written Questions

## W1

_Question_


- Define the concept of _immutable_ column and key.


- Why do some sources recommend that a primary key should be immutable?


- How would to implement immutability for a primary key in a table?

<u>Answer</u>

## W2

_Question_

Views are a powerful concept in relational database management systems. List and briefly explain 3 benefits of/reasons for creating a view.

_Answer_

## W3

_Question_

Briefly explain the concepts of _procedural_ language and _declarative_ language. SQL is primarily a declarative language. SQL added procedure language capabilities in functions, procedures and triggers. What is a reason for this addition?

_Answer_

## W4

_Question_ 

The following diagram is a simple representation of the architecture of a Jupyter notebook using MySQL. Is this a two-tier architecture or a three-tier architecture? Explain your answer briefly.

<img src="./jupyter-notebook.png">

_Answer_

## W5

_Question_ 

- Consider a US Social Security Number. An example is "012-34-6789".


- The data _type_ is character string.


- The relational model requires that columns (attributes) are from a _domain._


- Use the Social Security Number example to explain the difference between a type and a domain.

<br><br>

_Answer_

## W6

_Question_

Briefly explain the differences between:

- Database stored procedure
- Database function
- Database trigger

_Answer_

## W7

_Question_


Briefly explain:

- Natural join
- Equi-join
- Theta join
- Self-join

_Answer_

## W8

_Question_

Briefly explain the difference between a _unique (key) constraint_ and a _primary key constraint?_

_Answer_

## W9

_Question_

Give two reasons for using an _associative entity_ to implement a relationship instead of using a foreign key.

_Answer_

## W10

_Question_

Briefly explain the concepts of:
- Conceptial model
- Logical model
- Physical model

For data modeling.

_Answer_

## W11

_Question_

Briefly explain the concepts of:
- Data manipulation language
- Data definition language

Given an example statement in SQL for DML and for DDL.

_Answer_

## W12

_Question_

Codd's 4th rule is:

<u>Rule 4 - Dynamic online catalog based on the relational model:</u>

The data base description is represented at the logical level in the same way as ordinary data, so that authorized users can apply the same relational language to its interrogation as they apply to the regular data.

Explain what this means, and use SQL to provide examples.

_Answer_

## W13

_Question_

The formal definition of a theta join is

\begin{equation}
𝑟 \bowtie_𝜃 𝑠 = 𝜎_𝜃  (𝑟 \times 𝑠)
\end{equation}

Briefly explain the definition and give an example. 

Why is the fact that the relational algebra is closed is important to this definition?

_Answer_

## W14

_Question_

Consider two different statements in the relational algebra or SQL.


Despite being different statements, the statements may be <u>equivalent.</u> Briefly explain what this means.

_Answer_

## W15

_Question_

Consider the following relation definitions.

\begin{equation}
Customers(ID, last\_name, first\_name)
\end{equation}


\begin{equation}
Accounts(ID, balance, customer\_ID)
\end{equation}


What is problem with using natural join on the two tables?

_Answer_

# Entity Relationship Modeling

## ER-1

_Question_

This question tests your ability to "bottom up" model or "reverse engineering" a SQL schema to produce an explanatory ER-diagram.


Use Lucidchart to draw a Crow's Foot notation diagram representing the following SQL.


You can use the simple table names, e.g. ```students``` instead of ```s23_w4111_midterm.students```.


```
drop schema if exists s23_midterm;

create schema s23_midterm;

use s23_midterm;

drop table if exists departments;
create table if not exists departments
(
    dept_code varchar(4)   not null
        primary key,
    dept_name varchar(128) not null
);

drop table if exists instructors;
create table if not exists instructors
(
    UNI        varchar(12)  not null
        primary key,
    last_name  varchar(128) not null,
    first_name varchar(128) not null,
    dept_code  varchar(4)   null,
    constraint instructor_dept
        foreign key (dept_code) references departments (dept_code)
);

drop table if exists students;
create table if not exists students
(
    UNI        varchar(12)  not null
        primary key,
    last_name  varchar(128) null,
    first_name varchar(128) null
);

drop table if exists students_advisors;
create table if not exists students_advisors
(
    student_uni         varchar(12) not null,
    instructor_uni      varchar(12) not null,
    advising_start_date date        not null,
    advising_end_date   date        null,
    primary key (student_uni, instructor_uni, advising_start_date),
    constraint student_advisor_instructor
        foreign key (instructor_uni) references instructors (UNI),
    constraint student_advisors_student
        foreign key (student_uni) references students (UNI)
);


```

_Answer_

- Put your screen capture in the same directory as the midterm.


- Add ```<img src='./myfile.name'>``` in the Markdown cell, using the actual file name.

## ER-2

_Question_

- This question tests your ability to convert a human language description of a data model into a Crow's Foot ER-Diagram.


- Consider the data model for Classic Models that you loaded.



- ```orders``` has a column ```comments.```

In [15]:
%sql select * from classicmodels.orders limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363),
 (10101, datetime.date(2003, 1, 9), datetime.date(2003, 1, 18), datetime.date(2003, 1, 11), 'Shipped', 'Check on availability.', 128),
 (10102, datetime.date(2003, 1, 10), datetime.date(2003, 1, 18), datetime.date(2003, 1, 14), 'Shipped', None, 181),
 (10103, datetime.date(2003, 1, 29), datetime.date(2003, 2, 7), datetime.date(2003, 2, 2), 'Shipped', None, 121),
 (10104, datetime.date(2003, 1, 31), datetime.date(2003, 2, 9), datetime.date(2003, 2, 1), 'Shipped', None, 141),
 (10105, datetime.date(2003, 2, 11), datetime.date(2003, 2, 21), datetime.date(2003, 2, 12), 'Shipped', None, 145),
 (10106, datetime.date(2003, 2, 17), datetime.date(2003, 2, 24), datetime.date(2003, 2, 21), 'Shipped', None, 278),
 (10107, datetime.date(2003, 2, 24), datetime.date(2003, 3, 3), datetime.date(2003, 2, 26), 'Shipped', 'Difficult to negotiate with customer. We need more marketing materials', 131),
 (10108, datetime.date(2003, 3, 3), datetime.date(2003, 3, 12), datetime.date(2003, 3, 8), 'Shipped', None, 385),
 (10109, datetime.date(2003, 3, 10), datetime.date(2003, 3, 19), datetime.date(2003, 3, 11), 'Shipped', 'Customer requested that FedEx Ground is used for this shipping', 486)]

- There are several issues with this design:
    - If there are multiple comments or responses to comments, the ```comments``` field becomes multi-valued.
    - The approach does not have information on when the comment was made, who made the comment and whether it is a response or elaboration.
    
    
- You will solve this problem in a simplified version of classic models. In the simplified model, there are three entity types:
    1. ```person``` has the following attributes:
        - ```ID```
        - ```last_name```
        - ```first_name```
    2. ```orders``` has the following attributes:
        - ```order_id```
        - ```order_status```
        - ```order_date```
    3. ```comments``` has the following attributes:
        - ```comment_id``` is a unique ID for all comments.
        - ```parent_comment_id``` is the ```comment_id``` of a comment for which this comment is a response or elaboration.
        - ```comment_timestamp```, when the comment occured.
        - ```commenter_id``` is the ID of the person making the comment.
        - ```order_id``` is the ID of the order for to which this comment applies.
        
        
- Use Lucidchart to draw a _logical model_ for the described datamodel.


- You may add notes to the diagram to document reasonable assumptions or desgn decisions.

_Answer_

- Put your screen capture in the same directory as the midterm.


- Add ```<img src='./myfile.name'>``` in the Markdown cell, using the actual file name.

# Relational Algebra

- Use the [RelaX Calculator and the Silberschatz calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the Silberschatz database for these questions.


- Your answers will have two Markdown cells. The first is the relational statement you used to solve the problem. The second is a screen capture of the query execution and first page of result rows. And example is:

```
π course_id, title,
	instructor_id←ID,
	instructor_name←name
(
	(
		(course ⨝ section) 
		⨝ 
		teaches
	) 
	⨝
	instructor
)
```

<img src="./relational-example.png">

## R1

_Question_

- Consider the relation produced by:

```
π course_id, sec_id, building, room_number, time_slot_id (section)
```

- This contains sections, their time assignments and room assignments independent of the year and semester.


- Two sections in this derived table conflict if they have the same ```building, room_number, time_slot_id```.


- My answer to this question is ... ...

|one.course_id|one.sec_id|one.building|one.room_number|one.time_slot_id|two.course_id|two.sec_id|two.building|two.room_number|two.time_slot_id|
|-------------|----------|------------|---------------|----------------|-------------|----------|------------|---------------|----------------|
|CS-347       |1         |Taylor      |3128           |A               |CS-190       |2         |Taylor      |3128           |A               |
|EE-181       |1         |Taylor      |3128           |C               |CS-319       |2         |Taylor      |3128           |C               |

- Your answer cannot include courses and sections that conflict with themselves, or have two rows that show the same conflict.

_Answer_

## R2

_Question_

- You may use the following operators for this question: ```π, σ, ρ, ←```.


- Use the ```instructor, student, advisor``` tables for this question.


- There are some students that do not have advisors. That are some instructors that are not advisors.


- An ```instructor``` can be an advisor for a ```student``` if they are in the same department (```dept_name```).


- Produce a relation of the form

```(instructor_id, instructor_name, instructor_dept_name, student_id, student_name, student_dept_name)```

- That matches instructors that do not advise students and students that do not have advisors and are in the same department.

_Answer_

# SQL

## S1

_Question_

- You have a logical datamodel ER-diagram (see below).


- You need to use DDL to define a schema that realizes the model.


- Logical models are not specific enough for direct implementation. This means that:
    - You will have to assign concrete types to columns, and choose things like ```GENERATED,``` ```DEFAULT,``` etc.
    - You may have to decompose a table into two tables, or extract common attributes from multiple tables into a single, referenced table.
    - Implementing the relationships may require adding columns and foreign keys, associative entities, etc.
    - You may have to make other design and implementation choices. <b>This means that there is no single correct answer.</b>
    

- You should document any reasonable assumptions you make.


| <img src="./s23-midterm-er-to-sql-v2.png"> |
| :---: |
| __ER Diagram__ |

_Answer_

Design Decisions, Notes, etc:
1. 
2.

_DDL_

- Execute your DDL in the cell below. You may use DataGrip or other tools to help build the schema.


- You can copy and paste the ```SQL CREATE TABLE``` below, but you MUST execute the statements.

In [16]:
%sql drop schema if exists s23_midterm_medical


%sql create schema s23_midterm_medical

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [ ]:
%%sql

In [ ]:
%%sql

## S2

_Question_

- Use the classic models database that you loaded.


- Write a query that returns the following results:

```(customerNumber, customerName, no_of_orders, total_revenue)```

- where:
    - ```customerNumber``` and ```customerName``` are from ```customers```.
    - ```no_of_orders``` is the number of orders the customer has placed.
    - ```total_revenue``` is the sum of ```quantityOrdered*priceEach``` for all ```orderDetails``` in ```orders``` associated with a customer.
    

- If a customer has not placed any orders, ```no_of_orders``` and ```total_revenue``` must be ```0```.

_Answer_

In [ ]:
%%sql

## Best Baseball Players

_Question_

- This question uses ```lahmansdb_midterm.batting```, ```lahmansdb_midterm.pitching``` and ```lahmansdb_midterm.people```. You previously loaded this information.


- There query computes performance metrics:
    - Batting:
        - On-base percentage: OBP is (sum(h) + sum(BB))/(sum(ab) + sum(BB)). This value is ```NULL``` if ```sum(ab) = 0```.
        - Slugging percentage: SLG is defined by the function below. The value is ```NULL``` if ```sum(ab) = 0```.        
```
    (
        (sum(h) - sum(`1b`) - sum(`2b`) - sum(`3b`) - sum(hr)) +
        2*sum(`2b`) + 3*sum(`3b`) + 4*hr
    )/sum(ab)
```

    - Pitching:
        - total_wins is ```sum(w)```.
        - total_loses is ```sum(l)```.
        - win_percentage is ```sum(w)/(sum(w) + sum(l))```. This value is NULL if ```sum(w) + sum(l) = 0```.

- Professor Ferguson has two criteria for someone being a great baseball player. A play must meet at least one of the criteria to be a great baseball player.
    - Batting:
        - Total number of ```ab >= 1500```.
        - SLG: Career ```SLG >= .375```
    - Pitching:
        - ```(sum(w) + sum(l)) >= 200```.
        - ```win_percentage >= 0.70)``` or ```sum(w) >= 300.```
        
        
- In your result table there is some additional guidance.
    - ```great_because``` is either ```Pitcher``` or ```Batter``` based on whether the player matched the batting or pitching criteria.
    - The values from ```batting``` are ```None``` if the player did not qualify based on batting.
    - The values from ```pitching``` are ```None``` if the player did not qualify on pitching.

__Note:__ For this query to run efficiently, you will need to create indexes on the tables.

_Answer_

- Execute your create index statements below.

In [ ]:
%%sql

- Execute your SQL statement producing the query result below.

In [ ]:
%%sql

# Data and Schema Cleanup

## Explanation and Setup

- There are several issues with the schema for ```clasicmodels.``` Two of the issues are:
    - ```customers.country:``` Having programs or people enter country names is prone to errors.
    - ```products.productCode``` is clearly not an atomic value.
    
    
- The following SQL creates a schema with copies of the data. The SQL also loads a table of [ISO country codes.](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)

In [35]:
%sql create schema classicmodels_midterm;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [36]:
iso_df = pandas.read_csv('./wikipedia-iso-country-codes.csv')
iso_df.to_sql('country_codes', schema='classicmodels_midterm',
             con=sql_engine, index=False, if_exists="replace")

246

In [39]:
%%sql

use classicmodels_midterm;

alter table classicmodels_midterm.country_codes
    change `English short name lower case` short_name text null;

alter table classicmodels_midterm.country_codes
    change `Alpha-2 code` alpha_2_code text null;

alter table classicmodels_midterm.country_codes
    change `Alpha-3 code` alpha_3_code text null;

alter table classicmodels_midterm.country_codes
    change `Numeric code` numberic_code bigint null;

alter table classicmodels_midterm.country_codes
    change `ISO 3166-2` iso_text text null;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [38]:
%%sql

use classicmodels_midterm;


create table customers as select * from classicmodels.customers;


create table products as select * from classicmodels.products;

 * mysql+pymysql://root:***@localhost
0 rows affected.
122 rows affected.
110 rows affected.

[]

## DE-1

_Question_


- There are four ```country``` values in ```customers``` that are not in ```short_names``` of ```country_codes.```


- The four missing values are:

| country |
| :---: |
| USA |
| Norway |  
| UK |
| Russia |


- Write an SQL query that returns the information about by querying ```customers``` and ```country_codes```

_Answer_

In [ ]:
%%sql

## DE-2

_Question_

- Norway is on the list because there are spaces in the entry. The following query shows this fact.

In [40]:
%%sql

select customerNumber, customerName, country
from customers where length(country) != length(trim(country));

 * mysql+pymysql://root:***@localhost
2 rows affected.

[(167, 'Herkku Gifts', 'Norway  '),
 (299, 'Norway Gifts By Mail, Co.', 'Norway  ')]

- The mapping of the other country names is:

| customers.country | country_codes.short_name |
| :---: | :---: |
| USA | United States |
| UK | United Kingdom |
| Russia | Russian Federation |

- Write a __single__ ```update``` statement that corrects the values for ```customers.country```.

_Answer_

In [ ]:
%%sql

## DE-3

_Question_

- The final tasks are:
    - Add a column ```iso_code``` to ```customers``` that is the ```alpha_2_code``` from ```country_codes```.
    - Create a foreign key relationship ```customers.iso_code -> country_codes.alpha_2_code```.
    - Drop ```country``` from ```customers```.
    - Create a view ```customers_country``` of the form ```(customerNumber, customerName, country, iso_code)```.

_Answer_

In [ ]:
%%sql

/* Put the ALTER TABLE and CREATE VIEW statements here. */

In [ ]:
%%sql

/* Write a SELECT that displays 25 customers sorted by customerName */

## DE-4

- Just kidding.


- My first intent was to have you fix ```products```.


- Then, I thought I would make this an extra credit question.


- Finally, I decided that all students get 5 points added to there score for this exam. Since I never "curve up," you all get a bonus on final grade for putting up with the class.