<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring 2023</span><br>
</center></b>
<br><br>
<i><center>
    <span style="font-size: 20pt; line-height: 1.2;">Final Exam: Practical Questions</span>
</center></i>

# Introduction and Guidance

# Submission Instructions

- Add submission instructions.

# Environment Setup and Test

## ipython-sql Magic

In [1]:
import json

In [2]:
import pandas

In [3]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [5]:
%sql select * from db_book.student limit 10

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'))]

## PyMySQL

In [6]:
import pymysql

In [7]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [8]:
cur = conn.cursor()
res = cur.execute("select * from db_book.student limit 10")
res = cur.fetchall()

In [9]:
res

[{'ID': '00128',
  'name': 'Zhang',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('102')},
 {'ID': '12345',
  'name': 'Shankar',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('32')},
 {'ID': '19991',
  'name': 'Brandt',
  'dept_name': 'History',
  'tot_cred': Decimal('80')},
 {'ID': '23121',
  'name': 'Chavez',
  'dept_name': 'Finance',
  'tot_cred': Decimal('110')},
 {'ID': '44553',
  'name': 'Peltier',
  'dept_name': 'Physics',
  'tot_cred': Decimal('56')},
 {'ID': '45678',
  'name': 'Levy',
  'dept_name': 'Physics',
  'tot_cred': Decimal('46')},
 {'ID': '54321',
  'name': 'Williams',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('54')},
 {'ID': '55739',
  'name': 'Sanchez',
  'dept_name': 'Music',
  'tot_cred': Decimal('38')},
 {'ID': '70557',
  'name': 'Snow',
  'dept_name': 'Physics',
  'tot_cred': Decimal('0')},
 {'ID': '76543',
  'name': 'Brown',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('58')}]

## Pandas and SQLAlchemy

In [10]:
import numpy as np

In [11]:
import sqlalchemy

In [12]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [13]:
df = pandas.read_sql("select * from db_book.student limit 10", con=engine)

In [14]:
df

      ID      name   dept_name  tot_cred
0  00128     Zhang  Comp. Sci.     102.0
1  12345   Shankar  Comp. Sci.      32.0
2  19991    Brandt     History      80.0
3  23121    Chavez     Finance     110.0
4  44553   Peltier     Physics      56.0
5  45678      Levy     Physics      46.0
6  54321  Williams  Comp. Sci.      54.0
7  55739   Sanchez       Music      38.0
8  70557      Snow     Physics       0.0
9  76543     Brown  Comp. Sci.      58.0

## MongoDB

__Note:__ The following cell only works for me. I use this approach to avoid putting passwords in publicly accessible documents,

In [15]:
import sys
import pymongo


sys.path.append(
    "/Users/ziggyxchen/Github/COMS 4111/COMS4111_002_23S/Final/s23_w4111_final_exam"
)

In [16]:
import mongo_secrets

mongo_url = mongo_secrets.mongo_atlas_url

In [17]:
# 
#
#
# You must set your Mongo Atlas URL.
#
mongo_client = pymongo.MongoClient(mongo_url)

In [18]:
list(mongo_client.list_databases())

[{'name': 'S23_GoT', 'sizeOnDisk': 405504, 'empty': False},
 {'name': 'sample_airbnb', 'sizeOnDisk': 55193600, 'empty': False},
 {'name': 'sample_analytics', 'sizeOnDisk': 9572352, 'empty': False},
 {'name': 'sample_geospatial', 'sizeOnDisk': 1413120, 'empty': False},
 {'name': 'sample_guides', 'sizeOnDisk': 40960, 'empty': False},
 {'name': 'sample_mflix', 'sizeOnDisk': 49049600, 'empty': False},
 {'name': 'sample_restaurants', 'sizeOnDisk': 6885376, 'empty': False},
 {'name': 'sample_supplies', 'sizeOnDisk': 1163264, 'empty': False},
 {'name': 'sample_training', 'sizeOnDisk': 51601408, 'empty': False},
 {'name': 'sample_weatherdata', 'sizeOnDisk': 2883584, 'empty': False},
 {'name': 'admin', 'sizeOnDisk': 348160, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 26573262848, 'empty': False}]

## Neo4j

__Note:__ The following cells only work for me.

In [19]:
import neo4j_secrets

In [20]:
aura_url = neo4j_secrets.aura_url
aura_user = neo4j_secrets.aura_user
aura_pw = neo4j_secrets.aura_pw

In [21]:
import py2neo

- Uncomment and set the Aura information, then run the test.

In [22]:
from py2neo import Graph

# aura_url = 
# aura_user = 
# aura_pw = 

def t1():
    graph = Graph(aura_url, auth=(aura_user, aura_pw))
    q = "match (r:Person) where r.name='Tom Hanks' return r"
    res = graph.run(q)

    for r in res:
        print(r)

In [23]:
t1()

Node('Person', born=1956, name='Tom Hanks')

# Relational Algebra

- Just kidding.


- I think we all have had as much fun as we can stand using relational algebra and the RelaX calculator.


- You're welcome.

# Entity Relationship Modeling

## Definition to Model

- The model you will diagram has four entity types:
    1. Faculty has the properties:
        - UNI
        - last\_name
        - first\_name
        - job\_title
    2. Department has two properties:
        - department\_code
        - department\_name
    3. Student has the properties:
        - UNI
        - last\_name
        - first\_name
        - enrollment\_year
    4. Section:
        - section_id
        - semester
        - year
        - credits
        
        
- The model has the following relationships:
    1. Faculty_Department:
        - A faculty may be associated with one or more departments.
        - The association has a type: member, chair, emeritus.
    2. Student_Department:
        - A student has exactly one department that is the major_department.
        - The student may have 0 or one minor_department.
    3. Student_Section:
        - A student has a relationship to 0, 1 or many sections.
        - The student may be enrolled\_in_ the section or a ta\_for the section.
        - A section may have many enrolled students and many TAs.
    4. Faculty_Section:
        - A faculty member teaches exactly one section per semester.
        - A section has exactly one instructor per semester.
        
        
- Use Lucidchart to draw a Crow's Foot Notation ER diagram for the logical model. You may add notes to explain any reasonable assumptions you make.

<u>ER Diagram</u>

<img src="./ER.png">

## Model to Schema

- Create a new schema ```s23_final_exam```.


- Implement and execute the DDL statements to implement your ER diagram.


- The university is extremely large. So, you should define indexes that you think appropriate.

<u>SQL DDL Statements</u>

In [24]:
%%sql

DROP SCHEMA IF EXISTS s23_final_exam;
CREATE SCHEMA s23_final_exam;
USE s23_final_exam;

 * mysql+pymysql://root:***@localhost
5 rows affected.
1 rows affected.
0 rows affected.

[]

In [25]:
%%sql
DROP TABLE IF EXISTS Faculty;
CREATE TABLE Faculty(
    UNI VARCHAR(256) NOT NULL,
    last_name VARCHAR(128) NOT NULL,
    first_name VARCHAR(128) NOT NULL,
    job_title VARCHAR(256) NOT NULL,
    PRIMARY KEY(UNI)
);


# These are frequently used
CREATE INDEX Faculty_UNI ON Faculty (UNI); 
CREATE INDEX Faculty_title ON Faculty (job_title);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [26]:
%%sql
DROP TABLE IF EXISTS Department;
CREATE TABLE Department(
    department_code VARCHAR(256) NOT NULL,
    department_name VARCHAR(256) NOT NULL,
    PRIMARY KEY(department_code)
);

# These are frequently used
CREATE INDEX Department_code ON Department (department_code); 
CREATE INDEX Department_name ON Department (department_name);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [27]:
%%sql 
DROP TABLE IF EXISTS Faculty_Department;
create table Faculty_Department(
    faculty_uni VARCHAR(256) NOT NULL,
    department_code VARCHAR(128) NOT NULL,
    faculty_type ENUM('member', 'chair', 'emeritus'),
    PRIMARY KEY(faculty_uni, department_code),
    FOREIGN KEY(faculty_uni) REFERENCES Faculty(UNI),
    FOREIGN KEY(department_code) REFERENCES Department(department_code)
);

# These are frequently used
CREATE INDEX Faculty_Department_primary ON Faculty_Department (faculty_uni, department_code); 
CREATE INDEX Faculty_Department_department_code ON Faculty_Department (department_code); 
CREATE INDEX Faculty_Department_faculty_type ON Faculty_Department (faculty_type);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [28]:
%%sql
DROP TABLE IF EXISTS Student;
CREATE TABLE Student(
    UNI  VARCHAR(256) NOT NULL, 
    last_name VARCHAR(128) NOT NULL,
    first_name VARCHAR(128) NOT NULL,
    enrollment_year VARCHAR(32) NOT NULL,
    major_dept_code VARCHAR(128) NOT NULL, 
    minor_dept_code VARCHAR(128) DEFAULT NULL,
    PRIMARY KEY(UNI),
    FOREIGN KEY(major_dept_code) REFERENCES Department(department_code),
    FOREIGN KEY(minor_dept_code) REFERENCES Department(department_code)
);

# These are frequently used
CREATE INDEX Student_UNI ON Student (UNI); 
CREATE INDEX Student_year ON Student (enrollment_year); 
CREATE INDEX Student_major ON Student (major_dept_code); 
CREATE INDEX Student_minor ON Student (minor_dept_code);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [29]:
%%sql
DROP TABLE IF EXISTS Section;
CREATE TABLE Section(
    section_id  VARCHAR(256) NOT NULL, 
    semester VARCHAR(64) NOT NULL,
    year VARCHAR(32) NOT NULL,
    credits VARCHAR(16) NOT NULL,
    faculty_UNI VARCHAR(256) NOT NULL, 
    PRIMARY KEY(section_ID),
    FOREIGN KEY(faculty_UNI) REFERENCES Faculty (UNI)
);

# These are frequently used
CREATE INDEX Section_id ON Section (section_id); 
CREATE INDEX Section_semester ON Section (semester); 
CREATE INDEX Section_year ON Section (year); 
CREATE INDEX Section_credits ON Section (credits);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [30]:
%%sql
DROP TABLE IF EXISTS Student_Section;
CREATE TABLE Student_Section(
    student_uni VARCHAR(256) NOT NULL, 
    section_id VARCHAR(256) NOT NULL,
    is_a_TA ENUM('Yes', 'No'), 
    PRIMARY KEY(student_uni, section_id),
    FOREIGN KEY(student_uni) REFERENCES Student (UNI),
    FOREIGN KEY(section_id) REFERENCES Section (section_id)
);

# These are frequently used
CREATE INDEX Student_Section_primary ON Student_Section (student_uni, section_id); 
CREATE INDEX Student_Section_TA ON Student_Section (is_a_TA);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# SQL

## Customer Summary

- The following is a view that is a summary of customers and orders from Classic Models.

In [36]:
# %sql select * from s23_final.customer_order_summary limit 20;

summary = pandas.read_csv('./customer_order_summary.csv')
summary.head()

,customerName,customerNumber,orderNumber,orderDate,shippedDate,orderTotal
0,Online Diecast Creations Co.,363,10100,2003-01-06,2003-01-10,10223.83
1,"Blauer See Auto, Co.",128,10101,2003-01-09,2003-01-11,10549.01
2,Vitachrome Inc.,181,10102,2003-01-10,2003-01-14,5494.78
3,Baane Mini Imports,121,10103,2003-01-29,2003-02-02,50218.95
4,Euro+ Shopping Channel,141,10104,2003-01-31,2003-02-01,40206.20

- There is a CSV file in the final exam zipfile that contains the data.


- ```orderTotal``` is the sum of ```quantityOrdered*priceEach``` over all ```orderdetails``` in the order.

### Task 1

- Create a view that produces the information. Put your SQL below.

In [37]:
%sql USE classicmodels

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [38]:
%%sql

DROP VIEW IF EXISTS customer_order_summary;

CREATE VIEW customer_order_summary AS
SELECT customerName, customers.customerNumber, orderNumber, orderDate, shippedDate, orderTotal
FROM customers
LEFT JOIN (
    SELECT customerNumber, orders.orderNumber as orderNumber, orderDate, shippedDate,
           COALESCE(SUM(quantityOrdered * priceEach), 0) as orderTotal
    FROM orders
    LEFT JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
    GROUP BY orderNumber
) AS order_table
ON order_table.customerNumber = customers.customerNumber
WHERE orderNumber IS NOT NULL;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

### Task 2

- Manually logically create a materialized view ```customer_order_copy```by creating a table that is a copy of the data in the view.


- You must add some SQL to your model that automatically updates the materialized view/copy table whenever the ```orderdetails``` table has a new row inserted.


- Enter and test your DDL below.

### Task 3

- Only certain people should be able to see order details.


- Create a new user in your database ```general_user```. Configure security so that ```general_user``` can only query (read) ```customer_order_copy``` and perform no other operations.


- Put your DDL below.

## Identifying Traitors

- You use the Lahman's Baseball Database for this problem.


- You need the ```People``` table and the ```Appearances``` table.


- A perfidious, modern day traitor is:
    - A player who appeared/played for the Red Sox before ever playing for the Yankees.
    - Subsequently (later) appeared/played for the Yankees.
    - Played/appeared in their first game for any team after the year 2000.
    
    
- Write a query that produces the perfidious, modern day traitors. Your table should have the following columns:
    - ```playerID```
    - ```nameFirst```
    - ```nameLast```
    - ```firstRedSoxGameYear``` is the year of the first appearance for the Red Sox.
    - ```firstYankeeGameYear``` is the year of the first appearance for the Yankees.
    
    
- Order the result by ```nameLast, nameFirst```.


- The ```teamID```  for the Yankees is ```NYA``` and the ```teamID``` for the Red Sox is ```BOS```.


- Put your SQL below.

# MongoDB

- Use the ```episodes``` collection you have previously loaded into MongoDB Atlas.


- An episode has an array ```openingSequenceLocations```.


- Write an aggregation that produces a Pandas data frame of the form:
    - ```openingSequenceLocation```
    - ```numberOfEpisodes``` is the number of episodes that have the location in the opening sequence.
    - ```firstAirDate``` is the air date of the first episode in which the location appears in the opening.
    - ```lastAirDate``` is the air date of the last episode in which the location appears.
    
    
- The zipfile for the final exam contains a CSV file with the result of the aggregation. You must sort your result by ```numOfEpisodes.```


- The data is the following. __Do not worry about the leading index column.__

In [32]:
opening_sequences_df = pandas.read_csv("opening_sequence_info.csv")

In [33]:
opening_sequences_df

          location  numOfEpisodes firstAirDate lastAirDate
0       Winterfell             73      4/17/11     5/19/19
1   King's Landing             73      4/17/11     5/19/19
2         The Wall             67      4/17/11     8/27/17
3          Meereen             30       4/6/14     6/26/16
4          Braavos             21      5/11/14     6/19/16
5      Dragonstone             19       4/1/12     8/27/17
6        Harrenhal             15      4/22/12     5/19/13
7             Pyke             15       4/8/12      8/6/17
8     Vaes Dothrak             15      4/24/11     5/29/16
9            Dorne              9       5/3/15     6/26/16
10        Riverrun              9      4/14/13     6/19/16
11       Dreadfort              7       4/6/14     5/18/14
12         Oldtown              7      7/16/17     8/27/17
13       The Eyrie              7      5/15/11     5/15/16
14           Qarth              7      4/22/12      6/3/12
15     Last Hearth              6      4/14/19     5/19/19
16          Yunkai              6      4/28/13      6/9/13
17       The Twins              5      6/12/11     7/16/17
18     Moat Cailin              4       6/1/14     4/26/15
19         Astapor              4      3/31/13     4/21/13
20       Eastwatch              3      8/13/17     8/27/17
21          Pentos              2      4/17/11     3/29/15

- Write an execute your aggregation below.

# Neo4j

- Use the sample movie data for these questions.

- Write a Cyper query that returns a table with the following information:
    - director
    - movie_title
    - actor
    - movie_released_year
    
    
- The zipfile for the final exam contains a CSV file with a sample result. __Do not worry about the leading index column.__

In [34]:
neo4j_result = pandas.read_csv('neo4j_result.csv')
neo4j_result

           director     movie_title            actor  movie_release_year
0    Lana Wachowski     Speed Racer     Emile Hirsch                2008
1    Lana Wachowski     Speed Racer             Rain                2008
2    Lana Wachowski     Speed Racer  Christina Ricci                2008
3    Lana Wachowski     Speed Racer        Ben Miles                2008
4    Lana Wachowski     Speed Racer   Susan Sarandon                2008
5    Lana Wachowski     Speed Racer     John Goodman                2008
6    Lana Wachowski     Speed Racer      Matthew Fox                2008
7   Lilly Wachowski     Speed Racer     Emile Hirsch                2008
8   Lilly Wachowski     Speed Racer             Rain                2008
9   Lilly Wachowski     Speed Racer  Christina Ricci                2008
10  Lilly Wachowski     Speed Racer        Ben Miles                2008
11  Lilly Wachowski     Speed Racer   Susan Sarandon                2008
12  Lilly Wachowski     Speed Racer     John Goodman                2008
13  Lilly Wachowski     Speed Racer      Matthew Fox                2008
14       Ron Howard     Frost/Nixon     Sam Rockwell                2008
15       Ron Howard     Frost/Nixon    Michael Sheen                2008
16       Ron Howard     Frost/Nixon   Frank Langella                2008
17       Ron Howard     Frost/Nixon     Oliver Platt                2008
18       Ron Howard     Frost/Nixon      Kevin Bacon                2008
19   James Marshall  Ninja Assassin             Rain                2009
20   James Marshall  Ninja Assassin        Ben Miles                2009
21   James Marshall  Ninja Assassin        Rick Yune                2009
22   James Marshall  Ninja Assassin    Naomie Harris                2009
23       Tom Tykwer     Cloud Atlas        Tom Hanks                2012
24       Tom Tykwer     Cloud Atlas    Jim Broadbent                2012
25       Tom Tykwer     Cloud Atlas      Halle Berry                2012
26       Tom Tykwer     Cloud Atlas     Hugo Weaving                2012
27   Lana Wachowski     Cloud Atlas        Tom Hanks                2012
28   Lana Wachowski     Cloud Atlas    Jim Broadbent                2012
29   Lana Wachowski     Cloud Atlas      Halle Berry                2012
30   Lana Wachowski     Cloud Atlas     Hugo Weaving                2012
31  Lilly Wachowski     Cloud Atlas        Tom Hanks                2012
32  Lilly Wachowski     Cloud Atlas    Jim Broadbent                2012
33  Lilly Wachowski     Cloud Atlas      Halle Berry                2012
34  Lilly Wachowski     Cloud Atlas     Hugo Weaving                2012

- Execute your Neo4j query below.