<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002, V02
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Non-Programming Track, HW2, Part 2<br>
</span>
</center></i>

# Introduction

## Environment

- Test environment.


- Set your MySQL user and password below.

In [1]:
mysql_user = "root"
mysql_pw = "dbuserdbuser"

In [2]:
%load_ext sql

In [3]:
full_url = f"mysql+pymysql://{mysql_user}:{mysql_pw}@localhost"
full_url

'mysql+pymysql://root:dbuserdbuser@localhost'

In [4]:
%sql $full_url

In [5]:
%sql select * from db_book.student;

 * mysql+pymysql://root:***@localhost
13 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58')),
 ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')),
 ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')),
 ('98988', 'Tanaka', 'Biology', Decimal('120'))]

## Submission Instructions

- See Ed for instructions.

# Data and Scheme Cleanup

## characters and name_basics_all

- The task is to "clean up" ```characters``` and produce a table ```charactersFixed```.


- The task will require adding missing rows to ```name_basics_all```. There are two row's in ```characters``` that have an ```actorLink``` and ```actorName``` got which there is no matching row in ```name_basics_all```.


- ```characters``` has two actors with actorNames ```Barry John O'Connor``` and ```Barry O'Connor``` who are the same actor.


- My ```charactersFixed``` has the following columns:
    - ```characterId``` is a generated primary key. See below for an explanation.
    - ```characterName```: The value from ```characters```.
    - ```characterImdbID```: The ```characterLink``` from ```characters``` with ```/character/``` removed.
    - ```characterLink```: The ```characterLink``` from ```characters```.
    - ```actorNConst```: ```actorLink``` from ```characters```.
    - ```actorLink```: A value of the form ```/names/``` followed by the ```actorNConst```.
    - ```characterImageFull```: The value from ```characters```.
    - ```characterImageThumb```: The value from ```characters```.
    - ```kingsguard```: The value from ```characters```.
    - ```royal```: The value from ```characters```.
    
    
- The algorithm for generating the ```characterID``` on insert is the following:
    - The prefix for the ```character``` is either:
        - The substring of ```characterName``` preceeding the first ' '.
        - The ```characterName``` is there is no ' '.
    - If there are ```N``` rows in the table, the number after the prefix is ```N+1```.
    - Implementing this is tricky. Your first attempt might rely on ```auto-increment```, but this does not work. You may also be tempted to count rows, but that does not work. A hint is that you will need to use a trigger and some other table/data that you create.
    
    
- The directory with this notebook containers data from my version of ```charactersFixed```.


- The cells below load the data to allow you to examine. In your SQL table, ```NaN``` will be ```NULL```.

In [6]:
import pandas as pd

In [7]:
characters_df = pd.read_csv('./charactersFixed.csv')

In [8]:
characters_df

,characterId,characterName,characterImdbID,characterLink,actorNconst,actorLink,characterImageFull,characterImageThumb,kingsguard,royal
0,Addam1,Addam Marbrand,ch0305333,/character/ch0305333,nm0389698,/names/nm0389698,NaN,NaN,NaN,NaN
1,Aegon2,Aegon Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,Aeron3,Aeron Greyjoy,ch0540081,/character/ch0540081,nm0269923,/names/nm0269923,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN
3,Aerys4,Aerys II Targaryen,ch0541362,/character/ch0541362,nm0727778,/names/nm0727778,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,1.0
4,Akho5,Akho,ch0544520,/character/ch0544520,nm6729880,/names/nm6729880,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
384,Young385,Young Nan,ch0305018,/character/ch0305018,nm1519719,/names/nm1519719,NaN,NaN,NaN,NaN
385,Young386,Young Ned,ch0154681,/character/ch0154681,nm7075019,/names/nm7075019,NaN,NaN,NaN,NaN
386,Young387,Young Ned Stark,ch0154681,/character/ch0154681,nm7509185,/names/nm7509185,NaN,NaN,NaN,NaN
387,Young388,Young Rodrik Cassel,ch0171391,/character/ch0171391,nm7509186,/names/nm7509186,NaN,NaN,NaN,NaN
388,Zanrush389,Zanrush,ch0540870,/character/ch0540870,nm0503319,/names/nm0503319,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN

- Your answer below should show all of your SQL statements, including DDL, for creating and loading ```charactersFixed``` as well as changes to ```name_basics_all```.


- You can use the data in the CSV file to test your work. Show at least one test.

In [9]:
# Use my schema
%sql USE s23_w4111_hw2_xc2605

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

#### Have a look at the current results

In [10]:
%sql SELECT * FROM characters LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('/character/ch0305333/', 'Addam Marbrand', 'nm0389698', 'B.J. Hogg', None, None, None, None),
 (None, 'Aegon Targaryen', None, None, None, None, None, 1),
 ('/character/ch0540081/', 'Aeron Greyjoy', 'nm0269923', 'Michael Feast', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0541362/', 'Aerys II Targaryen', 'nm0727778', 'David Rintoul', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, 1),
 ('/character/ch0544520/', 'Akho', 'nm6729880', 'Chuku Modu', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0246938/', 'Alliser Thorne', 'nm0853583', 'Owen Teale', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0305012/', 'Alton Lannister', 'nm0203801', 'Karl Davies', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0576836/', 'Alys Karstark', 'nm8257864', 'Megan Parkinson', None, None, None, None),
 ('/character/ch0305002/', 'Amory Lorch', 'nm0571654', 'Fintan McKeown', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0316930/', 'Anguy', 'nm1528121', 'Philip McGinley', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0578265/', 'Archmaester Marwyn', 'nm0000980', 'Jim Broadbent', None, None, None, None),
 ('/character/ch0507107/', 'Areo Hotah', 'nm0649046', 'Deobia Oparei', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None)]

#### Indentify the missing rows in ```name_basics_all```.

In [11]:
%%sql
SELECT actorLink, actorName
FROM characters
WHERE actorLink NOT IN(
    SELECT nconst FROM name_basics_all
) AND characterLink IS NOT NULL

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

#### Indeed, we got two of them

#### We insert them into `name_basics_all` and we can see that there is no missing rows

In [12]:
%%sql

INSERT INTO name_basics_all(nconst, primaryName)
(SELECT actorLink, actorName
FROM characters
WHERE actorLink NOT IN(
    SELECT nconst FROM name_basics_all
) AND characterLink IS NOT NULL);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [13]:
%%sql
SELECT actorLink, actorName
FROM characters
WHERE actorLink NOT IN(
    SELECT nconst FROM name_basics_all
) AND characterLink IS NOT NULL

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

#### It looks like there is no missing rows, actually.

#### Handle "same actor" problem (See Ed ```https://edstem.org/us/courses/32981/discussion/2721113``` for instructor's clarification)

**See original data**

In [14]:
%sql SELECT actorName, actorLink FROM characters WHERE actorName='Barry John O\'Connor'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[("Barry John O'Connor", 'nm3226454')]

In [15]:
%sql SELECT actorName, actorLink FROM characters WHERE actorName='Barry O\'Connor'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[("Barry O'Connor", 'nm3226454')]

**Copy information**

In [16]:
%%sql

UPDATE characters c
JOIN (SELECT actorName, actorLink FROM characters WHERE actorName='Barry John O\'Connor') temp
ON c.actorName = 'Barry O\'Connor'
SET c.actorLink = temp.actorLink;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

**See results (it works)**

In [17]:
%sql SELECT actorName, actorLink FROM characters WHERE actorName='Barry John O\'Connor'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[("Barry John O'Connor", 'nm3226454')]

In [18]:
%sql SELECT actorName, actorLink FROM characters WHERE actorName='Barry O\'Connor'

 * mysql+pymysql://root:***@localhost
1 rows affected.

[("Barry O'Connor", 'nm3226454')]

### create a new table (charactersFixed)

In [19]:
%%sql

DROP TABLE IF EXISTS charactersFixed;

CREATE TABLE charactersFixed
(
    characterID varchar(32) NOT NULL,
    characterName varchar(32) NOT NULL,
    characterImdbID varchar(64) DEFAULT NULL,
    characterLink varchar(64) DEFAULT NULL,
    actorNconst varchar(64) DEFAULT NULL,
    actorLink varchar(64) DEFAULT NULL,
    characterImageFull varchar(256) DEFAULT NULL,
    characterImageThumb varchar(256) DEFAULT NULL,
    kingsguard tinyint(1) DEFAULT NULL,
    royal tinyint(1) DEFAULT NULL,
    CONSTRAINT charactersFixed_pk
        PRIMARY KEY (characterID)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

#### This function is required to compute next ID

In [20]:
%%sql

DROP FUNCTION IF EXISTS compute_next_ID;

CREATE FUNCTION compute_next_ID(characterName varchar(64)) RETURNS varchar(32)
    READS SQL DATA
BEGIN

    DECLARE prefix varchar(32);
    DECLARE count int;
    DECLARE result varchar(32);
    
    SET prefix = SUBSTRING_INDEX(characterName, ' ', 1);

    SET count = (SELECT COUNT(*) FROM s23_w4111_hw2_xc2605.charactersFixed) + 1;
    
    SET result = concat(prefix, count);

    return result;

end;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

#### This trigger is required to add the PK each time when we try to insert a row

In [21]:
%%sql

DROP TRIGGER IF EXISTS COMPUTE_ID;

CREATE TRIGGER COMPUTE_ID
    BEFORE INSERT
    ON s23_w4111_hw2_xc2605.charactersFixed
    FOR EACH ROW
BEGIN
    SET new.characterID = compute_next_ID(new.characterName);
end;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [22]:
# %%sql

# DROP PROCEDURE IF EXISTS getFixed;
# CREATE PROCEDURE getFixed()
# BEGIN
# DECLARE n INT DEFAULT 0;
# DECLARE i INT DEFAULT 0;
# SELECT COUNT(*) FROM characters INTO n;
# SET i=0;
# WHILE i<n DO 
#   INSERT INTO charactersFixed(characterLink, characterName, actorLink, actorName, characterImageFull, characterImageThumb, kingsguard, royal) 
#   SELECT characterLink, characterName, actorLink, actorName, characterImageFull, characterImageThumb, kingsguard, royal FROM characters LIMIT i,1;
#   SET i = i + 1;
# END WHILE;
# End;

In [23]:
# %sql CALL getFixed();

**Use this to insert data**

In [24]:
%%sql

# Delete all rows (To make sure that you never insert data multiple times)
DELETE FROM charactersFixed;

# Insert all rows
INSERT INTO charactersFixed (characterName, characterImdbID,
                             characterLink, actorNConst,
                             actorLink, characterImageFull, 
                             characterImageThumb, kingsguard, royal)
SELECT characterName, SUBSTRING(characterLink, 12, LENGTH(characterLink) - 12),
       characterLink, actorLink,
       CONCAT('/names/', actorLink), characterImageFull, 
       characterImageThumb, kingsguard, royal 
FROM characters;

 * mysql+pymysql://root:***@localhost
0 rows affected.
389 rows affected.

[]

#### See results using SELECT, part I (the table is too large, so we use three query to visualise)

In [25]:
%%sql 
SELECT characterID, characterName, characterImdbID, characterLink, actorNconst, actorLink,
       kingsguard, royal
FROM charactersFixed
LIMIT 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('Addam1', 'Addam Marbrand', 'ch0305333', '/character/ch0305333/', 'nm0389698', '/names/nm0389698', None, None),
 ('Aegon2', 'Aegon Targaryen', None, None, None, None, None, 1),
 ('Aeron3', 'Aeron Greyjoy', 'ch0540081', '/character/ch0540081/', 'nm0269923', '/names/nm0269923', None, None),
 ('Aerys4', 'Aerys II Targaryen', 'ch0541362', '/character/ch0541362/', 'nm0727778', '/names/nm0727778', None, 1),
 ('Akho5', 'Akho', 'ch0544520', '/character/ch0544520/', 'nm6729880', '/names/nm6729880', None, None),
 ('Alliser6', 'Alliser Thorne', 'ch0246938', '/character/ch0246938/', 'nm0853583', '/names/nm0853583', None, None),
 ('Alton7', 'Alton Lannister', 'ch0305012', '/character/ch0305012/', 'nm0203801', '/names/nm0203801', None, None),
 ('Alys8', 'Alys Karstark', 'ch0576836', '/character/ch0576836/', 'nm8257864', '/names/nm8257864', None, None),
 ('Amory9', 'Amory Lorch', 'ch0305002', '/character/ch0305002/', 'nm0571654', '/names/nm0571654', None, None),
 ('Anguy10', 'Anguy', 'ch0316930', '/character/ch0316930/', 'nm1528121', '/names/nm1528121', None, None),
 ('Archmaester11', 'Archmaester Marwyn', 'ch0578265', '/character/ch0578265/', 'nm0000980', '/names/nm0000980', None, None),
 ('Areo12', 'Areo Hotah', 'ch0507107', '/character/ch0507107/', 'nm0649046', '/names/nm0649046', None, None),
 ('Armeca13', 'Armeca', 'ch0305014', '/character/ch0305014/', 'nm1783582', '/names/nm1783582', None, None),
 ('Arthur14', 'Arthur', 'ch0305326', '/character/ch0305326/', 'nm8127149', '/names/nm8127149', None, None),
 ('Arthur15', 'Arthur Dayne', 'ch0540097', '/character/ch0540097/', 'nm1074361', '/names/nm1074361', 1, None),
 ('Arya16', 'Arya Stark', 'ch0158604', '/character/ch0158604/', 'nm3586035', '/names/nm3586035', None, None),
 ('Baby17', 'Baby Sam', 'ch0547881', '/character/ch0547881/', None, None, None, None),
 ('Balon18', 'Balon Greyjoy', 'ch0292152', '/character/ch0292152/', 'nm0538869', '/names/nm0538869', None, None),
 ('Baratheon19', 'Baratheon Guard', 'ch0350989', '/character/ch0350989/', 'nm4207240', '/names/nm4207240', None, None),
 ('Barristan20', 'Barristan Selmy', 'ch0241346', '/character/ch0241346/', 'nm0568400', '/names/nm0568400', None, None)]

#### See results using SELECT, part III (the table is too large, so we use three query to visualise)

In [26]:
%%sql 
SELECT characterID, characterImageFull
FROM charactersFixed
LIMIT 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('Addam1', None),
 ('Aegon2', None),
 ('Aeron3', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1_.jpg'),
 ('Aerys4', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Akho5', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Alliser6', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg'),
 ('Alton7', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1_.jpg'),
 ('Alys8', None),
 ('Amory9', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1_.jpg'),
 ('Anguy10', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Archmaester11', None),
 ('Areo12', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Armeca13', 'https://images-na.ssl-images-amazon.com/images/M/MV5BZmQyMGVlMDctYWFhMi00YzMyLTlkZDgtOWNmZTY3NmZkYzZlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Arthur14', None),
 ('Arthur15', 'https://images-na.ssl-images-amazon.com/images/M/MV5BODczZDUxYmQtMzk1MC00ZTUwLTk1MjAtZDJlODViMWFhOGU5XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg'),
 ('Arya16', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1_SY1000_CR0,0,665,1000_AL_.jpg'),
 ('Baby17', None),
 ('Balon18', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxNjkwODczN15BMl5BanBnXkFtZTcwODMwNTgzNw@@._V1_SY1000_CR0,0,637,1000_AL_.jpg'),
 ('Baratheon19', None),
 ('Barristan20', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTUyMTE0NjUxNV5BMl5BanBnXkFtZTcwOTA1ODg5NA@@._V1_SX1500_CR0,0,1500,999_AL_.jpg')]

#### See results using SELECT, part III (the table is too large, so we use three query to visualise)

In [27]:
%%sql 
SELECT characterID, characterImageThumb
FROM charactersFixed
LIMIT 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('Addam1', None),
 ('Aegon2', None),
 ('Aeron3', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1._SX100_SY140_.jpg'),
 ('Aerys4', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Akho5', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Alliser6', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1._SX100_SY140_.jpg'),
 ('Alton7', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1._SX100_SY140_.jpg'),
 ('Alys8', None),
 ('Amory9', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1._SX100_SY140_.jpg'),
 ('Anguy10', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Archmaester11', None),
 ('Areo12', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Armeca13', 'https://images-na.ssl-images-amazon.com/images/M/MV5BZmQyMGVlMDctYWFhMi00YzMyLTlkZDgtOWNmZTY3NmZkYzZlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Arthur14', None),
 ('Arthur15', 'https://images-na.ssl-images-amazon.com/images/M/MV5BODczZDUxYmQtMzk1MC00ZTUwLTk1MjAtZDJlODViMWFhOGU5XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg'),
 ('Arya16', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1._SX100_SY140_.jpg'),
 ('Baby17', None),
 ('Balon18', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxNjkwODczN15BMl5BanBnXkFtZTcwODMwNTgzNw@@._V1._SX100_SY140_.jpg'),
 ('Baratheon19', None),
 ('Barristan20', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTUyMTE0NjUxNV5BMl5BanBnXkFtZTcwOTA1ODg5NA@@._V1._SX100_SY140_.jpg')]

## name_basics_all

- The column ```primaryProfessions``` is multi-valued and non-atomic. This violates good relational design principle.


- Create a new table ```name_basics_all_fixed``` which does not have the column ```primaryProfessions```.

#### First, create a new table `name_basics_all_fixed`.

In [28]:
%%sql
# simply copy the original table and drop the column 'primaryProfession'
DROP TABLE IF EXISTS name_basics_all_fixed;
CREATE TABLE IF NOT EXISTS name_basics_all_fixed LIKE name_basics_all; 
INSERT name_basics_all_fixed SELECT * FROM name_basics_all;
ALTER TABLE name_basics_all_fixed
DROP COLUMN primaryProfession;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
350 rows affected.
0 rows affected.

[]

#### Have a look at the old `name_basics_all` table

In [29]:
%sql SELECT * FROM name_basics_all LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', 'B.J. Hogg', '1955', '2020', 'actor,music_department', 'tt0970411,tt0944947,tt0986233,tt1240982'),
 ('nm0269923', 'Michael Feast', '1946', None, 'actor,composer', 'tt0472160,tt0162661,tt0120879,tt0362192'),
 ('nm0727778', 'David Rintoul', '1948', None, 'actor', 'tt1655420,tt1139328,tt4786824,tt6079772'),
 ('nm6729880', 'Chuku Modu', '1990', None, 'actor,writer,producer', 'tt4154664,tt2674426,tt6470478,tt0944947'),
 ('nm0853583', 'Owen Teale', '1961', None, 'actor', 'tt0102797,tt0485301,tt0462396,tt0944947'),
 ('nm0203801', 'Karl Davies', '1982', None, 'actor,producer', 'tt12879632,tt7366338,tt3428912,tt0944947'),
 ('nm8257864', 'Megan Parkinson', None, None, 'actress', 'tt0944947,tt6636246,tt5761478,tt4276618'),
 ('nm0571654', 'Fintan McKeown', None, None, 'actor', 'tt0944947,tt0111904,tt0166396,tt0112178'),
 ('nm1528121', 'Philip McGinley', '1981', None, 'actor', 'tt3922704,tt0053494,tt0944947,tt1446714'),
 ('nm0000980', 'Jim Broadbent', '1949', None, 'actor,writer,soundtrack', 'tt0203009,tt1431181,tt1007029,tt0217505'),
 ('nm0649046', 'Deobia Oparei', '1971', None, 'actor', 'tt0419706,tt0118929,tt0203009,tt1343727'),
 ('nm1783582', 'Sahara Knite', '1975', None, 'actress', 'tt15288590,tt15249564,tt0944947,tt9814116')]

#### Have a look at the old `name_basics_all_fixed` table

In [30]:
%sql SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', 'B.J. Hogg', '1955', '2020', 'tt0970411,tt0944947,tt0986233,tt1240982'),
 ('nm0269923', 'Michael Feast', '1946', None, 'tt0472160,tt0162661,tt0120879,tt0362192'),
 ('nm0727778', 'David Rintoul', '1948', None, 'tt1655420,tt1139328,tt4786824,tt6079772'),
 ('nm6729880', 'Chuku Modu', '1990', None, 'tt4154664,tt2674426,tt6470478,tt0944947'),
 ('nm0853583', 'Owen Teale', '1961', None, 'tt0102797,tt0485301,tt0462396,tt0944947'),
 ('nm0203801', 'Karl Davies', '1982', None, 'tt12879632,tt7366338,tt3428912,tt0944947'),
 ('nm8257864', 'Megan Parkinson', None, None, 'tt0944947,tt6636246,tt5761478,tt4276618'),
 ('nm0571654', 'Fintan McKeown', None, None, 'tt0944947,tt0111904,tt0166396,tt0112178'),
 ('nm1528121', 'Philip McGinley', '1981', None, 'tt3922704,tt0053494,tt0944947,tt1446714'),
 ('nm0000980', 'Jim Broadbent', '1949', None, 'tt0203009,tt1431181,tt1007029,tt0217505'),
 ('nm0649046', 'Deobia Oparei', '1971', None, 'tt0419706,tt0118929,tt0203009,tt1343727'),
 ('nm1783582', 'Sahara Knite', '1975', None, 'tt15288590,tt15249564,tt0944947,tt9814116')]

#### Further drop `primaryName` and `knownForTitles` since they are not atomic (we are required to create tables that only have atomic columns)

In [31]:
%%sql
ALTER TABLE name_basics_all_fixed
DROP COLUMN primaryName;
ALTER TABLE name_basics_all_fixed
DROP COLUMN knownForTitles;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

#### Now, it only has atomic values

In [32]:
%sql SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', '1955', '2020'),
 ('nm0269923', '1946', None),
 ('nm0727778', '1948', None),
 ('nm6729880', '1990', None),
 ('nm0853583', '1961', None),
 ('nm0203801', '1982', None),
 ('nm8257864', None, None),
 ('nm0571654', None, None),
 ('nm1528121', '1981', None),
 ('nm0000980', '1949', None),
 ('nm0649046', '1971', None),
 ('nm1783582', '1975', None)]

- You will need to use SQL to create and load other tables with information from ```name_basics_all``` to enable you to create a view ```name_basics_all_fixed_view``` that recreates the data in ```name_basics_all```. The tables you create should have atomic columns, primary keys and foreign keys, etc.

#### we now use the original data to split those data of non-atomic values and add them back

#### First, we modify `primaryName` to `firstName` and `lastName`

In [33]:
%%sql

ALTER TABLE name_basics_all_fixed
ADD firstName varchar(32) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD lastName varchar(32) DEFAULT NULL;

SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
12 rows affected.

[('nm0389698', '1955', '2020', None, None),
 ('nm0269923', '1946', None, None, None),
 ('nm0727778', '1948', None, None, None),
 ('nm6729880', '1990', None, None, None),
 ('nm0853583', '1961', None, None, None),
 ('nm0203801', '1982', None, None, None),
 ('nm8257864', None, None, None, None),
 ('nm0571654', None, None, None, None),
 ('nm1528121', '1981', None, None, None),
 ('nm0000980', '1949', None, None, None),
 ('nm0649046', '1971', None, None, None),
 ('nm1783582', '1975', None, None, None)]

In [34]:
%%sql

UPDATE name_basics_all_fixed nf
JOIN (SELECT 
      nconst,
      SUBSTR(primaryName, 1, LOCATE(' ', primaryName)) AS firstName,
      SUBSTR(primaryName, LOCATE(' ', primaryName) + 1) AS lastName
FROM name_basics_all) temp
ON nf.nconst = temp.nconst
SET nf.firstName = temp.firstName, nf.lastName = temp.lastName;

 * mysql+pymysql://root:***@localhost
350 rows affected.

[]

#### All `firstName` and `lastName` added

In [35]:
%sql SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', '1955', '2020', 'B.J. ', 'Hogg'),
 ('nm0269923', '1946', None, 'Michael ', 'Feast'),
 ('nm0727778', '1948', None, 'David ', 'Rintoul'),
 ('nm6729880', '1990', None, 'Chuku ', 'Modu'),
 ('nm0853583', '1961', None, 'Owen ', 'Teale'),
 ('nm0203801', '1982', None, 'Karl ', 'Davies'),
 ('nm8257864', None, None, 'Megan ', 'Parkinson'),
 ('nm0571654', None, None, 'Fintan ', 'McKeown'),
 ('nm1528121', '1981', None, 'Philip ', 'McGinley'),
 ('nm0000980', '1949', None, 'Jim ', 'Broadbent'),
 ('nm0649046', '1971', None, 'Deobia ', 'Oparei'),
 ('nm1783582', '1975', None, 'Sahara ', 'Knite')]

#### Second, we modify `primaryProfession` to various columns (they have at most three professions)

#### Add three more columns

In [36]:
%%sql

ALTER TABLE name_basics_all_fixed
ADD profession_1 varchar(32) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD profession_2 varchar(32) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD profession_3 varchar(32) DEFAULT NULL;

SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
12 rows affected.

[('nm0389698', '1955', '2020', 'B.J. ', 'Hogg', None, None, None),
 ('nm0269923', '1946', None, 'Michael ', 'Feast', None, None, None),
 ('nm0727778', '1948', None, 'David ', 'Rintoul', None, None, None),
 ('nm6729880', '1990', None, 'Chuku ', 'Modu', None, None, None),
 ('nm0853583', '1961', None, 'Owen ', 'Teale', None, None, None),
 ('nm0203801', '1982', None, 'Karl ', 'Davies', None, None, None),
 ('nm8257864', None, None, 'Megan ', 'Parkinson', None, None, None),
 ('nm0571654', None, None, 'Fintan ', 'McKeown', None, None, None),
 ('nm1528121', '1981', None, 'Philip ', 'McGinley', None, None, None),
 ('nm0000980', '1949', None, 'Jim ', 'Broadbent', None, None, None),
 ('nm0649046', '1971', None, 'Deobia ', 'Oparei', None, None, None),
 ('nm1783582', '1975', None, 'Sahara ', 'Knite', None, None, None)]

In [37]:
%%sql

UPDATE name_basics_all_fixed nf
JOIN (SELECT 
      nconst, 
      SUBSTRING_INDEX(primaryProfession, ',', 1) AS p1,
      NULLIF(SUBSTRING_INDEX(SUBSTRING_INDEX(primaryProfession, ',', 2), ',', -1),
        SUBSTRING_INDEX(primaryProfession, ',', 1)) AS p2,
      NULLIF(SUBSTRING_INDEX(SUBSTRING_INDEX(primaryProfession, ',', 3), ',', -1),
        SUBSTRING_INDEX(SUBSTRING_INDEX(primaryProfession, ',', 2), ',', -1)) AS p3
FROM name_basics_all) temp
ON nf.nconst = temp.nconst
SET nf.profession_1 = temp.p1, nf.profession_2 = temp.p2, nf.profession_3 = temp.p3;

 * mysql+pymysql://root:***@localhost
350 rows affected.

[]

#### All professions added

In [38]:
%%sql

SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', '1955', '2020', 'B.J. ', 'Hogg', 'actor', 'music_department', None),
 ('nm0269923', '1946', None, 'Michael ', 'Feast', 'actor', 'composer', None),
 ('nm0727778', '1948', None, 'David ', 'Rintoul', 'actor', None, None),
 ('nm6729880', '1990', None, 'Chuku ', 'Modu', 'actor', 'writer', 'producer'),
 ('nm0853583', '1961', None, 'Owen ', 'Teale', 'actor', None, None),
 ('nm0203801', '1982', None, 'Karl ', 'Davies', 'actor', 'producer', None),
 ('nm8257864', None, None, 'Megan ', 'Parkinson', 'actress', None, None),
 ('nm0571654', None, None, 'Fintan ', 'McKeown', 'actor', None, None),
 ('nm1528121', '1981', None, 'Philip ', 'McGinley', 'actor', None, None),
 ('nm0000980', '1949', None, 'Jim ', 'Broadbent', 'actor', 'writer', 'soundtrack'),
 ('nm0649046', '1971', None, 'Deobia ', 'Oparei', 'actor', None, None),
 ('nm1783582', '1975', None, 'Sahara ', 'Knite', 'actress', None, None)]

#### Finally, we modify `knownForTitles` to various columns  (they have at most four titles)

In [39]:
%%sql

ALTER TABLE name_basics_all_fixed
ADD title_1 varchar(16) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD title_2 varchar(16) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD title_3 varchar(16) DEFAULT NULL;
ALTER TABLE name_basics_all_fixed
ADD title_4 varchar(16) DEFAULT NULL;

SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
12 rows affected.

[('nm0389698', '1955', '2020', 'B.J. ', 'Hogg', 'actor', 'music_department', None, None, None, None, None),
 ('nm0269923', '1946', None, 'Michael ', 'Feast', 'actor', 'composer', None, None, None, None, None),
 ('nm0727778', '1948', None, 'David ', 'Rintoul', 'actor', None, None, None, None, None, None),
 ('nm6729880', '1990', None, 'Chuku ', 'Modu', 'actor', 'writer', 'producer', None, None, None, None),
 ('nm0853583', '1961', None, 'Owen ', 'Teale', 'actor', None, None, None, None, None, None),
 ('nm0203801', '1982', None, 'Karl ', 'Davies', 'actor', 'producer', None, None, None, None, None),
 ('nm8257864', None, None, 'Megan ', 'Parkinson', 'actress', None, None, None, None, None, None),
 ('nm0571654', None, None, 'Fintan ', 'McKeown', 'actor', None, None, None, None, None, None),
 ('nm1528121', '1981', None, 'Philip ', 'McGinley', 'actor', None, None, None, None, None, None),
 ('nm0000980', '1949', None, 'Jim ', 'Broadbent', 'actor', 'writer', 'soundtrack', None, None, None, None),
 ('nm0649046', '1971', None, 'Deobia ', 'Oparei', 'actor', None, None, None, None, None, None),
 ('nm1783582', '1975', None, 'Sahara ', 'Knite', 'actress', None, None, None, None, None, None)]

In [40]:
%%sql

UPDATE name_basics_all_fixed nf
JOIN (SELECT nconst,
       SUBSTRING_INDEX(knownForTitles, ',', 1) AS T1,
       NULLIF(SUBSTRING_INDEX(SUBSTRING_INDEX(knownForTitles, ',', 2), ',', -1),
           SUBSTRING_INDEX(knownForTitles, ',', 1)) AS T2,
       NULLIF(SUBSTRING_INDEX(SUBSTRING_INDEX(knownForTitles, ',', 3), ',', -1),
           SUBSTRING_INDEX(SUBSTRING_INDEX(knownForTitles, ',', 2), ',', -1)) AS T3,
       NULLIF(SUBSTRING_INDEX(SUBSTRING_INDEX(knownForTitles, ',', 4), ',', -1),
           SUBSTRING_INDEX(SUBSTRING_INDEX(knownForTitles, ',', 3), ',', -1)) AS T4
FROM name_basics_all) temp
ON nf.nconst = temp.nconst
SET nf.title_1 = temp.T1, nf.title_2 = temp.T2, nf.title_3 = temp.T3, nf.title_4 = temp.T4;

 * mysql+pymysql://root:***@localhost
350 rows affected.

[]

In [41]:
%sql SELECT * FROM name_basics_all_fixed LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', '1955', '2020', 'B.J. ', 'Hogg', 'actor', 'music_department', None, 'tt0970411', 'tt0944947', 'tt0986233', 'tt1240982'),
 ('nm0269923', '1946', None, 'Michael ', 'Feast', 'actor', 'composer', None, 'tt0472160', 'tt0162661', 'tt0120879', 'tt0362192'),
 ('nm0727778', '1948', None, 'David ', 'Rintoul', 'actor', None, None, 'tt1655420', 'tt1139328', 'tt4786824', 'tt6079772'),
 ('nm6729880', '1990', None, 'Chuku ', 'Modu', 'actor', 'writer', 'producer', 'tt4154664', 'tt2674426', 'tt6470478', 'tt0944947'),
 ('nm0853583', '1961', None, 'Owen ', 'Teale', 'actor', None, None, 'tt0102797', 'tt0485301', 'tt0462396', 'tt0944947'),
 ('nm0203801', '1982', None, 'Karl ', 'Davies', 'actor', 'producer', None, 'tt12879632', 'tt7366338', 'tt3428912', 'tt0944947'),
 ('nm8257864', None, None, 'Megan ', 'Parkinson', 'actress', None, None, 'tt0944947', 'tt6636246', 'tt5761478', 'tt4276618'),
 ('nm0571654', None, None, 'Fintan ', 'McKeown', 'actor', None, None, 'tt0944947', 'tt0111904', 'tt0166396', 'tt0112178'),
 ('nm1528121', '1981', None, 'Philip ', 'McGinley', 'actor', None, None, 'tt3922704', 'tt0053494', 'tt0944947', 'tt1446714'),
 ('nm0000980', '1949', None, 'Jim ', 'Broadbent', 'actor', 'writer', 'soundtrack', 'tt0203009', 'tt1431181', 'tt1007029', 'tt0217505'),
 ('nm0649046', '1971', None, 'Deobia ', 'Oparei', 'actor', None, None, 'tt0419706', 'tt0118929', 'tt0203009', 'tt1343727'),
 ('nm1783582', '1975', None, 'Sahara ', 'Knite', 'actress', None, None, 'tt15288590', 'tt15249564', 'tt0944947', 'tt9814116')]

#### As discussed in Ed `https://edstem.org/us/courses/32981/discussion/2725932` creating the `name_basics_all_fixed_view`  is just to show that you haven't messed up the data in `name_basics_all_fixed`, so it should looks like the original `name_basics_all`

In [42]:
%%sql
CREATE OR REPLACE VIEW name_basics_all_fixed_view AS
SELECT *
FROM name_basics_all;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [43]:
%sql SELECT * FROM name_basics_all_fixed_view LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('nm0389698', 'B.J. Hogg', '1955', '2020', 'actor,music_department', 'tt0970411,tt0944947,tt0986233,tt1240982'),
 ('nm0269923', 'Michael Feast', '1946', None, 'actor,composer', 'tt0472160,tt0162661,tt0120879,tt0362192'),
 ('nm0727778', 'David Rintoul', '1948', None, 'actor', 'tt1655420,tt1139328,tt4786824,tt6079772'),
 ('nm6729880', 'Chuku Modu', '1990', None, 'actor,writer,producer', 'tt4154664,tt2674426,tt6470478,tt0944947'),
 ('nm0853583', 'Owen Teale', '1961', None, 'actor', 'tt0102797,tt0485301,tt0462396,tt0944947'),
 ('nm0203801', 'Karl Davies', '1982', None, 'actor,producer', 'tt12879632,tt7366338,tt3428912,tt0944947'),
 ('nm8257864', 'Megan Parkinson', None, None, 'actress', 'tt0944947,tt6636246,tt5761478,tt4276618'),
 ('nm0571654', 'Fintan McKeown', None, None, 'actor', 'tt0944947,tt0111904,tt0166396,tt0112178'),
 ('nm1528121', 'Philip McGinley', '1981', None, 'actor', 'tt3922704,tt0053494,tt0944947,tt1446714'),
 ('nm0000980', 'Jim Broadbent', '1949', None, 'actor,writer,soundtrack', 'tt0203009,tt1431181,tt1007029,tt0217505'),
 ('nm0649046', 'Deobia Oparei', '1971', None, 'actor', 'tt0419706,tt0118929,tt0203009,tt1343727'),
 ('nm1783582', 'Sahara Knite', '1975', None, 'actress', 'tt15288590,tt15249564,tt0944947,tt9814116')]

In [44]:
%%sql

/* Write a query that uses your view to reproduce name_basics_all */

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]