<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002, V02
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Non-Programming Track, HW2, Part 2<br>
</span>
</center></i>

# Introduction

## Environment

- Test environment.


- Set your MySQL user and password below.

In [1]:
mysql_user = "root"
mysql_pw = "dbuserdbuser"

In [2]:
%load_ext sql

In [3]:
full_url = f"mysql+pymysql://{mysql_user}:{mysql_pw}@localhost"
full_url

'mysql+pymysql://root:dbuserdbuser@localhost'

In [4]:
%sql $full_url

In [5]:
%sql select * from db_book.student;

 * mysql+pymysql://root:***@localhost
13 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58')),
 ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')),
 ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')),
 ('98988', 'Tanaka', 'Biology', Decimal('120'))]

## Submission Instructions

- See Ed for instructions.

# Data and Scheme Cleanup

## characters and name_basics_all

- The task is to "clean up" ```characters``` and produce a table ```charactersFixed```.


- The task will require adding missing rows to ```name_basics_all```. There are two row's in ```characters``` that have an ```actorLink``` and ```actorName``` got which there is no matching row in ```name_basics_all```.


- ```characters``` has two actors with actorNames ```Barry John O'Connor``` and ```Barry O'Connor``` who are the same actor.


- My ```charactersFixed``` has the following columns:
    - ```characterId``` is a generated primary key. See below for an explanation.
    - ```characterName```: The value from ```characters```.
    - ```characterImdbID```: The ```characterLink``` from ```characters``` with ```/character/``` removed.
    - ```characterLink```: The ```characterLink``` from ```characters```.
    - ```actorNConst```: ```actorLink``` from ```characters```.
    - ```actorLink```: A value of the form ```/names/``` followed by the ```actorNConst```.
    - ```characterImageFull```: The value from ```characters```.
    - ```characterImageThumb```: The value from ```characters```.
    - ```kingsguard```: The value from ```characters```.
    - ```royal```: The value from ```characters```.
    
    
- The algorithm for generating the ```characterID``` on insert is the following:
    - The prefix for the ```character``` is either:
        - The substring of ```characterName``` preceeding the first ' '.
        - The ```characterName``` is there is no ' '.
    - If there are ```N``` rows in the table, the number after the prefix is ```N+1```.
    - Implementing this is tricky. Your first attempt might rely on ```auto-increment```, but this does not work. You may also be tempted to count rows, but that does not work. A hint is that you will need to use a trigger and some other table/data that you create.
    
    
- The directory with this notebook containers data from my version of ```charactersFixed```.


- The cells below load the data to allow you to examine. In your SQL table, ```NaN``` will be ```NULL```.

In [6]:
import pandas as pd

In [7]:
characters_df = pd.read_csv('./charactersFixed.csv')

In [8]:
characters_df

,characterId,characterName,characterImdbID,characterLink,actorNconst,actorLink,characterImageFull,characterImageThumb,kingsguard,royal
0,Addam1,Addam Marbrand,ch0305333,/character/ch0305333,nm0389698,/names/nm0389698,NaN,NaN,NaN,NaN
1,Aegon2,Aegon Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,Aeron3,Aeron Greyjoy,ch0540081,/character/ch0540081,nm0269923,/names/nm0269923,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN
3,Aerys4,Aerys II Targaryen,ch0541362,/character/ch0541362,nm0727778,/names/nm0727778,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,1.0
4,Akho5,Akho,ch0544520,/character/ch0544520,nm6729880,/names/nm6729880,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
384,Young385,Young Nan,ch0305018,/character/ch0305018,nm1519719,/names/nm1519719,NaN,NaN,NaN,NaN
385,Young386,Young Ned,ch0154681,/character/ch0154681,nm7075019,/names/nm7075019,NaN,NaN,NaN,NaN
386,Young387,Young Ned Stark,ch0154681,/character/ch0154681,nm7509185,/names/nm7509185,NaN,NaN,NaN,NaN
387,Young388,Young Rodrik Cassel,ch0171391,/character/ch0171391,nm7509186,/names/nm7509186,NaN,NaN,NaN,NaN
388,Zanrush389,Zanrush,ch0540870,/character/ch0540870,nm0503319,/names/nm0503319,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN

In [9]:
# Use my schema
%sql USE s23_w4111_hw2_xc2605

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [10]:
%sql SELECT * FROM characters LIMIT 12;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('/character/ch0305333/', 'Addam Marbrand', 'nm0389698', 'B.J. Hogg', None, None, None, None),
 (None, 'Aegon Targaryen', None, None, None, None, None, 1),
 ('/character/ch0540081/', 'Aeron Greyjoy', 'nm0269923', 'Michael Feast', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MDg0ZDAtN2Y2ZC00MzU1LTgyYjQtNTBjYjEzODczZDVhXkEyXkFqcGdeQXVyNTg0Nzg4NTE@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0541362/', 'Aerys II Targaryen', 'nm0727778', 'David Rintoul', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMWQzOWViN2ItNDZhOS00MmZlLTkxZTYtZDg5NGUwMGRmYWZjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, 1),
 ('/character/ch0544520/', 'Akho', 'nm6729880', 'Chuku Modu', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOGE4ZDZmOGUtNGE4Ny00Y2VmLThiOGItMjk3Y2U0ZDY3OWQxXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0246938/', 'Alliser Thorne', 'nm0853583', 'Owen Teale', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMjExMjA3M15BMl5BanBnXkFtZTcwMjI1ODg5NA@@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0305012/', 'Alton Lannister', 'nm0203801', 'Karl Davies', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTU0NTU1NTAzOF5BMl5BanBnXkFtZTcwNzA2NDk4OA@@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0576836/', 'Alys Karstark', 'nm8257864', 'Megan Parkinson', None, None, None, None),
 ('/character/ch0305002/', 'Amory Lorch', 'nm0571654', 'Fintan McKeown', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTVmY2M2YmUtY2JkYS00NjIyLWFhYTAtNTNlZmI4ODdiNmE5XkEyXkFqcGdeQXVyMjg2MTMyNTM@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0316930/', 'Anguy', 'nm1528121', 'Philip McGinley', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNmRhY2M4YmItNjc2Yi00ZDc0LWE5NmUtNGE5OWE0YTQ2YjY3XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None),
 ('/character/ch0578265/', 'Archmaester Marwyn', 'nm0000980', 'Jim Broadbent', None, None, None, None),
 ('/character/ch0507107/', 'Areo Hotah', 'nm0649046', 'Deobia Oparei', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg', 'https://images-na.ssl-images-amazon.com/images/M/MV5BNWFkNTAwNzctOGQ2ZS00OTMyLWE3NDYtOGUwM2E1MzVlYjI0XkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1._SX100_SY140_.jpg', None, None)]

In [17]:
%sql SELECT SUBSTRING_INDEX(characterName, ' ', 1) FROM characters LIMIT 12

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('Addam',),
 ('Aegon',),
 ('Aeron',),
 ('Aerys',),
 ('Akho',),
 ('Alliser',),
 ('Alton',),
 ('Alys',),
 ('Amory',),
 ('Anguy',),
 ('Archmaester',),
 ('Areo',)]

In [ ]:
%sql SELECT SUBSTRING_INDEX(characterName, ' ', 1) FROM characters LIMIT 12

In [19]:
%%sql


DROP FUNCTION IF EXISTS compute_next_ID;

CREATE FUNCTION compute_next_ID(name varchar(64), last_name varchar(64)) returns varchar(12)
    READS SQL DATA
BEGIN

    DECLARE prefix varchar(3);
    DECLARE count int;

    set prefix = SUBSTRING_INDEX(characterName, ' ', 1)

    set count = (select count(*) from W4111_Example.student_uni
                                 where uni like prefix);

    set count = count + 1;

    set result = concat(
        substr(first_name, 1, 1),
        substr(last_name, 1, 1),
        count
        );

    set result = lower(result);

    return result;

end;

 * mysql+pymysql://root:***@localhost
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INDEX FROM characters LIMIT 12' at line 1")
[SQL: SELECT INDEX FROM characters LIMIT 12]
(Background on this error at: https://sqlalche.me/e/14/f405)

- Your answer below should show all of your SQL statements, including DDL, for creating and loading ```charactersFixed``` as well as changes to ```name_basics_all```.


- You can use the data in the CSV file to test your work. Show at least one test.

In [12]:
%%sql

/* SQL statements in this cell. You may use multiple cells. */

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [13]:
%%sql

/* SQL test to show result. */

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

## name_basics_all

- The column ```primaryProfessions``` is multi-valued and non-atomic. This violates good relational design principle.


- Create a new table ```name_basics_all_fixed``` which does not have the column ```primaryProfessions```.


- You will need to use SQL to create and load other tables with information from ```name_basics_all``` to enable you to create a view ```name_basics_all_fixed_view``` that recreates the data in ```name_basics_all```. The tables you create should have atomic columns, primary keys and foreign keys, etc.

In [14]:
%%sql

/* Use this cell and others to create tables, load data, etc. */

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [15]:
%%sql

/* Write a query that uses your view to reproduce name_basics_all */

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]