<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 3, Part 1<br>DBMS Implementation Concepts, NoSQL Databases<br>
    
</span>
</center></i>

# Introduction and Overview

## HW Objectives

1. Answer questions that reinforce important concepts.<br><br>
2. Require some independent learning because it is impossible to include all cocnepts in lectures.<br><br>
3. Provide practical experience using MongoDB which will be necessary for P2, which expands on the project implementations.

## Homework Content

- There are 2 sections to HW 3, P1. Both programming and non-programming tracks complete both sections.
    - Written questions.
    - Practical problems using MongoDB.
    
    
- Part 2 will build on P1 and previous HWs to expand the class project.

## Submission Instructions

Please see the [Ed post](https://edstem.org/us/courses/32981/discussion/2841978) for submission instructions.

## Guidelines

__Note:__ TAs to make make any changes.

You may not work with or collaborate with anyone in any way to complete the homework. You may speak with the professor and TAs. You may ask __private__ questions on Ed if you need clarification.


You may use lecture slides, the textbook slides, the textbook or public information on the web to help you answer your questions. You may not "cut and past" information. Your answer must be in your own words and demonstrate the you understand the concept. If you use information for sources other than lectures, lecture slides, textbook slides or the textbook, you MUST provide a URL to the source you used.

## Add Student Information

1. Replace my name with your full name.
2. Replace my UNI with your UNI.
3. Replace "Cool Track" with either "Programming" or "Non-programming."

In [1]:
# Print your name, uni, and track below

name = "Ziggy Chen"
uni = "xc2605"
track = "Non-Programming"

print(name)
print(uni)
print(track)

Ziggy Chen
xc2605
Non-Programming

# Testing and Setting Up the Environment

Run the following cells to ensure that your environment is set up.


You may need to change passwords.

## General Packages

In [2]:
import json

In [3]:
import csv

In [4]:
import pandas

In [5]:
import os

## pymysql

In [6]:
import pymysql

In [7]:
#
# Run this cell but change your user ID and password.
#
pymysql_conn = pymysql.connect(
    user="root",
    password="dbuserdbuser",
    host="localhost",
    port=3306,
    autocommit=True,
    cursorclass=pymysql.cursors.DictCursor
)

In [8]:
# You must have installed the db_book DB for this to work.
#
cursor = pymysql_conn.cursor()
sql = "select * from db_book.student"
res = cursor.execute(sql)
result = cursor.fetchall()

In [9]:
#
# You must have installed the db_book DB for this to work.
#
df1 = pandas.DataFrame(result)
df1

       ID      name   dept_name tot_cred
0   00128     Zhang  Comp. Sci.      102
1   12345   Shankar  Comp. Sci.       32
2   19991    Brandt     History       80
3   23121    Chavez     Finance      110
4   44553   Peltier     Physics       56
5   45678      Levy     Physics       46
6   54321  Williams  Comp. Sci.       54
7   55739   Sanchez       Music       38
8   70557      Snow     Physics        0
9   76543     Brown  Comp. Sci.       58
10  76653       Aoi  Elec. Eng.       60
11  98765  Bourikas  Elec. Eng.       98
12  98988    Tanaka     Biology      120

## ipython-SQL

In [10]:
%load_ext sql

In [11]:
#
# Remember to change your user ID and password.
#
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [12]:
%sql select * from db_book.student where ID=12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

## SQLAlchemy

In [13]:
from sqlalchemy import create_engine

In [14]:
#
# Remember to change your user ID and password.
#
sql_url = "mysql+pymysql://root:dbuserdbuser@localhost"

In [15]:
engine = create_engine(sql_url)

In [16]:
sql = "select * from db_book.student"
df = pandas.read_sql(sql, con=engine)

In [17]:
df

       ID      name   dept_name  tot_cred
0   00128     Zhang  Comp. Sci.     102.0
1   12345   Shankar  Comp. Sci.      32.0
2   19991    Brandt     History      80.0
3   23121    Chavez     Finance     110.0
4   44553   Peltier     Physics      56.0
5   45678      Levy     Physics      46.0
6   54321  Williams  Comp. Sci.      54.0
7   55739   Sanchez       Music      38.0
8   70557      Snow     Physics       0.0
9   76543     Brown  Comp. Sci.      58.0
10  76653       Aoi  Elec. Eng.      60.0
11  98765  Bourikas  Elec. Eng.      98.0
12  98988    Tanaka     Biology     120.0

## MongoDB Atlas

- We will use MongoDB Atlas for our NoSQL document database.


- [Register and signup](https://www.mongodb.com/cloud/atlas/register) for a free account. I recommend using your Columbia (or some other) Google/Gmail ID.


- You need to create a cluster. Make sure you use the free-tier option. The cloud provider and region do not matter. An example of the creation screen is below.

<img src="atlas-1.png" width="800px">

- Next, create a user for your database/cluster. This is separate from the login information you used for registration.


- This step is analogous to your previous creation of a user and password in MySQL.


- Unlike your local MySQL, __this DB is on the internet anc accessible. You should choose a secure password. Please make sure you save the PW and user ID.__


- An example of the screen is below.

<img src="./atlas-2.png">

- You need to configure network access. You should add an entry and specific ```0.0.0.0/32```. This is a __really bad idea__ in general, but we are not storing sensitive information.


- Failing to add ```0.0.0.0/32``` will block access when your laptop has a new IP address. Your IP address will change over time, especially when you change locations.


- An example configuration of the screen is below.

<img src="./atlas-3.png">


- You can finish and close.

- The next screen is the dashboard for your database (cluster).


- Chose ```Browser Collections.```

<br>
<img src="./atlas-4.png">

- Choose ```Load a Sample Dataset```.

<img src="atlas-5.png">

- There will be an acknowledgment popup and then the dataset will load.


- Loading the dataset can take a few minutes.

- When the data is loaded, you should see something like

<img src="./atlas-6.png">

- Choose ```sample_airbnb``` and ```listingsAndReviews```.


- You should see something like

<img src="./atlas-7.png">

- Click on ```Overview``` and then ```Connect```.

<img src="./atlas-8.png">

- Choose ```Connect your Application``` in the popup.

<img src="./atlas-9.png">

- On the next page, choose ```Python``` and then set the version so that it is compatible with whatever version of Python you are using.


- The following cell will show you the current Python version.

In [18]:
import sys

print("The current version of Python is:", sys.version)

The current version of Python is: 3.10.10 (main, Mar 21 2023, 13:41:39) [Clang 14.0.6 ]

- Click the checkbox for ```Include full drive code example.```


- Your screen should look something like below.


- Copy the code fragment to the clipboard.

<img src="./atlas-10.png">

- Paste the code snippet you copied in the cell below.


- __DO NOT RUN THE CELL.__

My link is: `mongodb+srv://xc2605:<password>@s23-w4111.cmuk4kg.mongodb.net/?retryWrites=true&w=majority`

In [19]:
#
# Modify the following by
# Copying the URL from above.
# Replacing <password> with {password}
# Correctly setting 

password = "L4JNI5NRbEq6DsNU"
url = f"mongodb+srv://xc2605:{password}@s23-w4111.cmuk4kg.mongodb.net/?retryWrites=true&w=majority"

In [20]:
#
# Make sure you have pymongo
#
%pip install pymongo

Requirement already satisfied: pymongo in /Users/ziggyxchen/opt/anaconda3/envs/COMS4111-3-10/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/ziggyxchen/opt/anaconda3/envs/COMS4111-3-10/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pymongo

- Make sure you get very similar answers in the following cells.


- There may be some minor differences.

In [22]:

client = pymongo.MongoClient(
    url
)
db = client.test

In [23]:
db

Database(MongoClient(host=['ac-bspnnpo-shard-00-00.cmuk4kg.mongodb.net:27017', 'ac-bspnnpo-shard-00-01.cmuk4kg.mongodb.net:27017', 'ac-bspnnpo-shard-00-02.cmuk4kg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dynb8r-shard-0', tls=True), 'test')

In [ ]:
filter = { "property_type": "House", "accommodates": 4, "name": "East Village Studio" }

result = client['sample_airbnb']['listingsAndReviews'].find(filter)

list(result)

- Congratulations! You have written Python code to connect to a Document database delivered over the cloud via _database-as-a-service (DBaaS)._ That is going to look cool on your resume.


- If you succeeded at all of the above, I am officially promoting your wizard level from _Muggle_ to _First Year._

# Written Questions

__W1:__ Disk Performance:

Briefly explain (in two or three seconds for each) the following concepts:
1. Access time
2. Seek time
3. Latency time
4. IOPS
5. Rotational latency
6. Data-transfer rate
7. Mean time to failure (MTTF)


_Answer_

__W2:__ Disk Operations:

Briefly explain (in two or three seconds for each) the following concepts:
1. Disk arm scheduling.
2. Elevator algorithm.


_Answer_

__W3:__ Disk Tradeoffs:

Briefly explain the pros and cons of hard disks and solid state disks.



_Answer_

__W4:__ RAID:

Briefly explain (in two or three seconds for each) the following concepts:
1. RAID-0
2. RAID-1
3. RAID 0+1
4. RAID 5
5. Hot Swapping


_Answer_

__W5:__ Disk Performance:

Some database management systems only store data in some of the outer cylinders/tracks of disks. Why?

_Answer_

__W6:__ File and Record Concepts:

Briefly explain (in two or three seconds for each) the following concepts:
1. Fixed length records
2. Variable length records
3. Heap file record organization
4. Sequential file organization


_Answer_

__W7:__ :

Briefly provide two possible scenarios that motivate the following concepts:
1. Table partitioning
2. Multi-table clustering file record organization


_Answer_

__W8:__ Briefly explain the concept of _impedance mismatch_ with respect to SQL versus NoSQL databases.


_Answer_

__W9:__ Types of NoSQL Databases:

Briefly explain (in two or three seconds for each) the following concepts:
1. Graph database
2. Document database
3. Key value store/database.


_Answer_

__W10:__ Rows versus Columns:

Briefly explain (in two or three seconds for each) the pros/cons and use scenarios for:
1. Row oriented record file format.
2. Columns oriented record format.


_Answer_

## Practical Questions

## Loading Data

### Characters

- The lecture from 2023-MAR-25 provided examples of how to load data.


- You will load information from ```characters.json```. The next cell gets the data from a file and into Python.

In [ ]:
with open("./characters.json", "r") as in_file:
    characters = json.load(in_file)
    
characters = characters['characters']

In [ ]:
characters[0]

- Implement the following Python function that loads documents into your MongoDB-Atlas environment.

In [ ]:
def load_documents(mongo_client, database: str, collection: str, documents: list):
    """

    Drops a collection, and then recreates and loads a list of documents.
    
    :param mongo_client: The MongoDB client created by pymongo.MongoClient(url)
    :param database: A string that is the name of the database.
    :param collection: A string that is the name of the collection
    :param documents: A list of Python dictionaries/JSON documents to insert.
    :return: The number of documents inserted.
    """
    mongo_client[database][collection].drop ()
    
    count = 0
    
    for d in documents:
        mongo_client[database][collection].insert_one(d)
        count += 1
        
    return count

In [ ]:
#
# Test you implementation.
#
result = load_documents(client, "S23_GoT", "Characters", characters)

result

- Write a query that returns the ```characterName``` for all ```royal``` characters. Your result should be a ```list``` in the variable ```result```.

In [ ]:
filter_clause = {
    "royal": True
}

projection = {
    "characterName": 1,
    "royal": 1
}

result = client["S23_GoT"]["Characters"].find(
    filter= filter_clause,
    projection= projection
)

result = list(result)

- Test using the following cell.

In [ ]:
#
df = pandas.DataFrame(result)

df

### Episodes

- Follow the same approach as above to load ```episodes.json```.


- Put your loading code in the cells below.

- Test your loading by executing the following cell.

In [ ]:
filter_expression = None

projection = {
    "seasonNum": 1,
    "episodeNum": 1,
    "episodeTitle": 1,
    "episodeAirDate": 1,
    "_id": -1
}

result = client["S23_GoT"]["Episodes"].find(
    filter_expression,
    projection
)
result = list(result)

result_df = pandas.DataFrame(result)
result_df

## Query Data

__Note:__

- You may have to do a little exploration of the online documentation to answer the questions.


- Remember that building the pipelines in the console and then copying to the notebook helps.

__Q1:__ 


- Produce a Pandas DataFrame with some of the ```Character``` fields. 


- This requires:
    1. Writing an aggregation.
    2. Converting result to a pandas DataFrame.


- Sample answer is below.


- ```NaN``` is OK for fields that do not exists, _except for_ ```characterLink```. That must be ```None``` if the document does not have a ```characterLink```.


- My sample answer is:

<img src="q1.png">

_Answer:_

__Q2:__

- Write a MongoDB aggregation that produces a DataFrame of the form:
    - ```seasonNum```
    - ```episodeNum```
    - ```numScenes``` is the number of ```scenes``` in the episode.
    - ```runningMinutes``` is the sum of the length of all the ```scenes```. The length of a ```scene``` is the ```endTime``` minutes the ```startTime```. The minutes should end in ```.0```.
    
    
- My answer looks like:

<img src="./q2.png">

In [ ]:
# Answer